
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

    <div id="main">

        <!-- Slider Section -->
        <!-- Sub Title Section -->
        <!-- ** Breadcrumb Section ** --><section class="main-title-section-wrapper">
            <div class="container">
                <div class="main-title-section">
                    <h1>Jenny Sheen</h1><div class="breadcrumb">
                        <a href="https://lmstheme.wpengine.com">Home</a><span class="fa default">  </span><span class="current">Jenny Sheen</span>
                    </div><!-- ** breadcrumb - End -->
                </div>		<div class="header-search">
                    <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                        <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search">
                        <input type="hidden" name="search-type" value="default">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </section><!-- ** Breadcrumb Section End ** -->        <!-- Sub Title Section -->
        <!-- ** Container ** -->
        <div class="container">

            <!-- ** Primary Section ** -->
            <section id="primary" class="content-full-width">
                <article id="post-4396" class="post-4396 dt_teachers type-dt_teachers status-publish has-post-thumbnail hentry">
                    <h3 class="border-title ">About: Jenny Sheen<span></span></h3>
                    <div class="column dt-sc-one-fourth space first">
                        <div class="team-thumb">
                            <img width="550" height="550" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4.jpg 550w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-95x95.jpg 95w" sizes="(max-width: 550px) 100vw, 550px">                    <span id="post-ratings-4396" class="post-ratings" itemscope="" itemtype="http://schema.org/Article" data-nonce="5fbfd88fc3"><img id="rating_4396_1" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(4396, 1, '1 Star');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img id="rating_4396_2" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(4396, 2, '2 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img id="rating_4396_3" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(4396, 3, '3 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img id="rating_4396_4" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(4396, 4, '4 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img id="rating_4396_5" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(4396, 5, '5 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;"> (<strong>141</strong> votes, average: <strong>4.19</strong> out of 5)<br><span class="post-ratings-text" id="ratings_4396_text"></span><meta itemprop="headline" content="Jenny Sheen"><meta itemprop="description" content="Nulla pretium, enim nec ornare varius, erat ipsum sollicitudin nisi, at tincidunt orci mi id nisi. Nam venenatis iaculis velit, sed sagittis lectus tempor vitae. Donec dapibus aliquam ante, ut molesti..."><meta itemprop="datePublished" content="2014-05-24T11:53:03+00:00"><meta itemprop="dateModified" content="2014-06-25T10:10:32+00:00"><meta itemprop="url" content="https://lmstheme.wpengine.com/teachers/jenny-sheen/"><meta itemprop="author" content="ram"><meta itemprop="mainEntityOfPage" content="https://lmstheme.wpengine.com/teachers/jenny-sheen/"><div style="display: none;" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-150x150.jpg"><meta itemprop="width" content="150"><meta itemprop="height" content="150"></div><div style="display: none;" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization"><meta itemprop="name" content="LMS"><div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content=""></div></div><div style="display: none;" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><meta itemprop="bestRating" content="5"><meta itemprop="worstRating" content="1"><meta itemprop="ratingValue" content="4.19"><meta itemprop="ratingCount" content="141"></div></span><span id="post-ratings-4396-loading" class="post-ratings-loading">
                                <img src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image">Loading...
                            </span>                    <div class="dt-sc-social-icons"><ul><li class="picasa"><a href="#" target="_blank"> <img src="https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/picasa.png" alt="picasa">  <img src="https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/picasa.png" alt="picasa"> </a></li><li class="facebook"><a href="#" target="_blank"> <img src="https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png" alt="facebook">  <img src="https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png" alt="facebook"> </a></li><li class="gtalk"><a href="#" target="_blank"> <img src="https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/gtalk.png" alt="gtalk">  <img src="https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/gtalk.png" alt="gtalk"> </a></li></ul></div>
                        </div>
                    </div>
                    <div class="column dt-sc-three-fourth space">
                        <ul class="teachers-details">
                            <li> Role : Marketing Director </li>
                            <li> Website : <a href="http://iamdesigning.com">http://iamdesigning.com</a> </li>
                            <li> Experience : 12 years </li>
                            <li> Specialist in : Digital Media Programming </li>
                        </ul>

                        <h5 class="border-title ">Topics Handling<span></span></h5><table class="courses-table-list tablesorter">
                            <thead>
                                <tr>
                                    <th class="lessons-table-title-header header" scope="col">Course Name</th>
                                    <th class="lessons-table-title-header header" scope="col">Lesson Name</th>
                                    <th class="lessons-table-type-header header" scope="col">Complexity</th>
                                    <th class="lessons-table-length-header header" scope="col">Length</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/power-electronics/">Power Electronics</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/placerat-odio-eu/cras-pharetra-nisl-et-magna/">Cras pharetra nisl et magna</a></td>
                                    <td class="lessons-table-type"></td>
                                    <td class="lessons-table-length">90 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/power-electronics/">Power Electronics</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/placerat-odio-eu/">Placerat odio eu </a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/hard/">Hard</a></td>
                                    <td class="lessons-table-length">50 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/introduction-to-calculus/">Introduction to Calculus</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/etiam-ut-orci-eget-augue/phasellus-ultrices-nunc-in/">Phasellus ultrices nunc in</a></td>
                                    <td class="lessons-table-type"></td>
                                    <td class="lessons-table-length">30 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/basic-laws-and-policies/">Basic Laws and Policies</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/quam-ac-consectetur/">Quam ac consectetur</a></td>
                                    <td class="lessons-table-type"></td>
                                    <td class="lessons-table-length">60 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/healthcare-delivery/">Healthcare Delivery</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/auctor-tortor-sodales/">Auctor tortor sodales</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/hard/">Hard</a></td>
                                    <td class="lessons-table-length">45 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/general-business-law/">General Business Law</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/donec-laoreet-vestibulum/cras-pulvinar-neque/">Cras pulvinar neque</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/easy/">Easy</a></td>
                                    <td class="lessons-table-length">20 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/general-business-law/">General Business Law</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/mauris-et-lorem/">Mauris et lorem</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/hard/">Hard</a></td>
                                    <td class="lessons-table-length">90 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/emerging-trends-and-technologies/">Emerging Trends and Technologies</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/vivamus-vitae-condimentum/">Vivamus vitae condimentum</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/hard/">Hard</a></td>
                                    <td class="lessons-table-length">40 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/fitness-training-program/">Fitness Training Program</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/faucibus-accumsan-neque/vivamus-convallis-turpis-vitae/">Vivamus convallis turpis vitae</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/easy/">Easy</a></td>
                                    <td class="lessons-table-length">60 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/architecture-analysis-design/">Architecture Analysis &amp; Design</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/suspendisse-ac-felis-in-sapien-rutrum/gravida-quis-turpis/">Gravida quis turpis</a></td>
                                    <td class="lessons-table-type"></td>
                                    <td class="lessons-table-length">60 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/architecture-analysis-design/">Architecture Analysis &amp; Design</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/donec-convallis-posuere-orci/">Donec convallis posuere orci</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/easy/">Easy</a></td>
                                    <td class="lessons-table-length">40 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/analysis-of-algorithms/">Analysis of Algorithms</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/ea-dictas-maluisset-mel/">Ea dictas maluisset mel</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/hard/">Hard</a></td>
                                    <td class="lessons-table-length">60 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/processing-digital-signal/">Processing Digital Signal</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/por-scientie-musica/">Por scientie musica</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/hard/">Hard</a></td>
                                    <td class="lessons-table-length">60 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/advanced-programming/">Advanced Programming</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/at-vero-eos-et-accusamus-et-iusto-odio/totam-rem-aperiam-eaque-ipsa-quae-ab-illo/">Totam rem aperiam, eaque ipsa quae ab illo</a></td>
                                    <td class="lessons-table-type"></td>
                                    <td class="lessons-table-length">40 mins</td>
                                </tr>
                                <tr>
                                    <td class="lessons-table-course"><a href="https://lmstheme.wpengine.com/courses/advanced-programming/">Advanced Programming</a></td>
                                    <td class="lessons-table-title"><a href="https://lmstheme.wpengine.com/lessons/sed-consequat-leo-eget-bibendum-sodales/">Sed consequat, leo eget bibendum sodales</a></td>
                                    <td class="lessons-table-type"><a href="https://lmstheme.wpengine.com/lesson-complexity/easy/">Easy</a></td>
                                    <td class="lessons-table-length">50 mins</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Nulla pretium, enim nec ornare varius, erat ipsum sollicitudin nisi, at tincidunt orci mi id nisi. Nam venenatis iaculis velit, sed sagittis lectus tempor vitae. Donec dapibus aliquam ante, ut molestie augue feugiat eget. Nulla vitae nulla tincidunt, pellentesque elit eu, euismod purus. Nam eget interdum metus. Pellentesque sed diam adipiscing, condimentum massa id, placerat justo. In faucibus nibh tellus, nec euismod libero ultrices vitae. Etiam tincidunt tellus nibh, in tincidunt quam tempor eget. Donec feugiat felis non justo viverra, a pellentesque erat condimentum. Nam ultrices nunc ac laoreet suscipit.</p>
                        <p>Maecenas adipiscing aliquam condimentum. Nullam sed lacus dapibus neque lacinia accumsan et et nunc. Curabitur commodo justo a nisi dapibus, vitae accumsan neque pellentesque. Duis vel leo sapien. Phasellus nec aliquet erat, at malesuada orci. Fusce quis faucibus lectus. Proin erat risus, semper id tristique eu, ultrices a lacus.</p>
                    </div>
                    <div class="dt-sc-hr-invisible-small  "></div>
                </article>

            </section><!-- ** Primary Section End ** -->
        </div><!-- **Container - End** -->
    </div>

