@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- **Main** -->
<div id="main">

    <!-- Slider Section -->
    <!-- Sub Title Section -->
    <!-- ** Breadcrumb Section ** -->
    <section class="main-title-section-wrapper">
        <div class="container">
            <div class="main-title-section">
                <h1>About</h1>
                <div class="breadcrumb">
                    <a href="https://lmstheme.wpengine.com">Home</a><span class='fa default'>  </span><span class='current'>About</span>
                </div>
                <!-- ** breadcrumb - End -->
            </div>
            <div class="header-search">
                <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                    <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search" />
                    <input type="hidden" name="search-type" value="default" />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </section>
    <!-- ** Breadcrumb Section End ** -->
    <!-- Sub Title Section -->
    <!-- ** Primary Section ** -->
    <section id="primary" class="content-full-width">
        <!-- #post-4238 -->
        <div id="post-4238" class="post-4238 page type-page status-publish hentry">
            <div class='fullwidth-section  '>
                <div class="container">
                    <h2 class='border-title aligncenter '>Some Great Features of LMS theme<span></span></h2>
                    <h6 style="text-align: center; letter-spacing: 0.25px;">Quisque porta, elit sed lacinia rutrum, nulla velit scelerisque sem, convallis molestie ante justo eget erat</h6>
                    <div class='dt-sc-hr-invisible  '></div>
                    <div class='column dt-sc-one-fourth  space  first'>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#27ae60;"><span><a href="#" target="_blank"><img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/06/icon-new1.png" title="Advanced Topics" alt="Advanced Topics"></a></span></div>
                            <h4><a href='#' target='_blank'> Advanced Topics </a></h4>
                        </div>
                        <h6 style="text-align: center; font-size: 14px; color: #868686; line-height: 24px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit maecenas quis</h6>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#2980b9;"><span><a href="#" target="_blank"><img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/06/icon-new2.png" title="Expert Teachers" alt="Expert Teachers"></a></span></div>
                            <h4><a href='#' target='_blank'> Expert Teachers </a></h4>
                        </div>
                        <h6 style="text-align: center; font-size: 14px; color: #868686; line-height: 24px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit maecenas quis</h6>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#f39c12;"><span><a href="#" target="_blank"><img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/06/icon-new3.png" title="Video Courses" alt="Video Courses"></a></span></div>
                            <h4><a href='#' target='_blank'> Video Courses </a></h4>
                        </div>
                        <h6 style="text-align: center; font-size: 14px; color: #868686; line-height: 24px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit maecenas quis</h6>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#d35400;"><span><a href="#" target="_blank"><img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/06/icon-new4.png" title="Audio Courses" alt="Audio Courses"></a></span></div>
                            <h4><a href='#' target='_blank'> Audio Courses </a></h4>
                        </div>
                        <h6 style="text-align: center; font-size: 14px; color: #868686; line-height: 24px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit maecenas quis</h6>
                    </div>
                <div class='dt-sc-hr-invisible-medium  '>

                </div>
                

                <div class='column dt-sc-one-half  space  first'>
                        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;">
                            <!-- START REVOLUTION SLIDER 5.4.7.1 auto mode -->
                            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.1">
                                <ul>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://lmstheme.wpengine.com/wp-content/uploads/revslider/about/about-slider1-100x50.jpg"
                                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                        data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="https://lmstheme.wpengine.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" title="about-slider1" width="520" height="300" data-lazyload="https://lmstheme.wpengine.com/wp-content/uploads/revslider/about/about-slider1.jpg"
                                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://lmstheme.wpengine.com/wp-content/uploads/revslider/about/about-slider2-100x50.jpg"
                                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                        data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="https://lmstheme.wpengine.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" title="about-slider2" width="520" height="300" data-lazyload="https://lmstheme.wpengine.com/wp-content/uploads/revslider/about/about-slider2.jpg"
                                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://lmstheme.wpengine.com/wp-content/uploads/revslider/about/about-slider3-100x50.jpg"
                                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                        data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="https://lmstheme.wpengine.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" title="about-slider3" width="520" height="300" data-lazyload="https://lmstheme.wpengine.com/wp-content/uploads/revslider/about/about-slider3.jpg"
                                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                    </li>
                                </ul>
                                <script>
                                                        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                                                        var htmlDivCss = "";
                                                        if (htmlDiv) {
                                                            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                                        } else {
                                                            var htmlDiv = document.createElement("div");
                                                            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                                            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                                        }
                                        </script>
                                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                                    </div>
                                    <script>
                                                    var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                                                    var htmlDivCss = "";
                                                    if (htmlDiv) {
                                                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                                    } else {
                                                        var htmlDiv = document.createElement("div");
                                                        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                                        document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                                    }
                                    </script>
                                    <script type="text/javascript">
                                                    if (setREVStartSize !== undefined) setREVStartSize({
                                                        c: '#rev_slider_1_1',
                                                        gridwidth: [520],
                                                        gridheight: [300],
                                                        sliderLayout: 'auto'
                                                    });

                                                    var revapi1,
                                                        tpj;
                                                    (function() {
                                                        if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad)
                                                        else
                                                            onLoad();

                                                        function onLoad() {
                                                            if (tpj === undefined) {
                                                                tpj = jQuery;

                                                                if ("on" == "on") tpj.noConflict();
                                                            }
                                                            if (tpj("#rev_slider_1_1").revolution == undefined) {
                                                                revslider_showDoubleJqueryError("#rev_slider_1_1");
                                                            } else {
                                                                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                                                                    sliderType: "standard",
                                                                    jsFileLocation: "//lmstheme.wpengine.com/wp-content/plugins/revslider/public/assets/js/",
                                                                    sliderLayout: "auto",
                                                                    dottedOverlay: "none",
                                                                    delay: 9000,
                                                                    navigation: {
                                                                        keyboardNavigation: "off",
                                                                        keyboard_direction: "horizontal",
                                                                        mouseScrollNavigation: "off",
                                                                        mouseScrollReverse: "default",
                                                                        onHoverStop: "on",
                                                                        touch: {
                                                                            touchenabled: "on",
                                                                            touchOnDesktop: "off",
                                                                            swipe_threshold: 0.7,
                                                                            swipe_min_touches: 1,
                                                                            swipe_direction: "horizontal",
                                                                            drag_block_vertical: false
                                                                        },
                                                                        arrows: {
                                                                            style: "persephone",
                                                                            enable: true,
                                                                            hide_onmobile: false,
                                                                            hide_onleave: false,
                                                                            tmp: '',
                                                                            left: {
                                                                                h_align: "left",
                                                                                v_align: "center",
                                                                                h_offset: 20,
                                                                                v_offset: 0
                                                                            },
                                                                            right: {
                                                                                h_align: "right",
                                                                                v_align: "center",
                                                                                h_offset: 20,
                                                                                v_offset: 0
                                                                            }
                                                                        },
                                                                        bullets: {
                                                                            enable: true,
                                                                            hide_onmobile: false,
                                                                            style: "persephone",
                                                                            hide_onleave: false,
                                                                            direction: "horizontal",
                                                                            h_align: "center",
                                                                            v_align: "bottom",
                                                                            h_offset: 0,
                                                                            v_offset: 20,
                                                                            space: 5,
                                                                            tmp: ''
                                                                        }
                                                                    },
                                                                    visibilityLevels: [1240, 1024, 778, 480],
                                                                    gridwidth: 520,
                                                                    gridheight: 300,
                                                                    lazyType: "smart",
                                                                    parallax: {
                                                                        type: "mouse",
                                                                        origo: "enterpoint",
                                                                        speed: 400,
                                                                        speedbg: 0,
                                                                        speedls: 0,
                                                                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 47, 48, 49, 50, 51, 55],
                                                                    },
                                                                    shadow: 1,
                                                                    spinner: "spinner0",
                                                                    stopLoop: "off",
                                                                    stopAfterLoops: -1,
                                                                    stopAtSlide: -1,
                                                                    shuffle: "off",
                                                                    autoHeight: "off",
                                                                    disableProgressBar: "on",
                                                                    hideThumbsOnMobile: "off",
                                                                    hideSliderAtLimit: 0,
                                                                    hideCaptionAtLimit: 0,
                                                                    hideAllCaptionAtLilmit: 0,
                                                                    startWithSlide: 0,
                                                                    debugMode: false,
                                                                    fallbacks: {
                                                                        simplifyAll: "off",
                                                                        nextSlideOnWindowFocus: "off",
                                                                        disableFocusListener: false,
                                                                    }
                                                                });
                                                            }; /* END OF revapi call */

                                                        }; /* END OF ON LOAD FUNCTION */
                                                    }()); /* END OF WRAPPING FUNCTION */
                                    </script>
                                    <script>
                                                    var htmlDivCss = unescape(".persephone.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%28201%2C201%2C201%2C0.75%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border%3A1px%20solid%20rgba%28255%2C%20255%2C%20255%2C%201%29%3B%0A%7D%0A.persephone.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.persephone.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A15px%3B%0A%09color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.persephone.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce824%22%3B%0A%7D%0A.persephone.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce825%0A%22%3B%0A%7D%0A%0A%0A.persephone%20.tp-bullet%20%7B%0A%09width%3A12px%3B%0A%09height%3A12px%3B%0A%09position%3Aabsolute%3B%0A%09background%3Argba%28170%2C%20170%2C%20170%2C%201%29%3B%0A%09border%3A1px%20solid%20rgba%28229%2C%20229%2C%20229%2C%201%29%3B%09%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.persephone%20.tp-bullet%3Ahover%2C%0A.persephone%20.tp-bullet.selected%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A%0A%0A");
                                                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                                                    if (htmlDiv) {
                                                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                                    } else {
                                                        var htmlDiv = document.createElement('div');
                                                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                                                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                                                    }
                                    </script>
                            </div>
                            <!-- END REVOLUTION SLIDER -->
                        </div>
                        <div class='column dt-sc-one-half  space  '>
                            <h3 class='border-title  '>Welcome to LMS Theme<span></span></h3>
                            <p style="margin-bottom: 25px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod diam eu arcu volutpat ut adipiscing sem auctor. Vivamus adipiscing lobortis sagittis. Nullam tempus mauris dolor, ac malesuada arcu. Praesent dolor
                                quam, tincidunt in sollicitudin sit amet, volutpat sed velit. Nullam non neque ipsum.
                            </p>
                            <ul class='dt-sc-fancy-list   thumbs-down'>
                                <li>Lorem ipsum dolor sit euismod diam</li>
                                <li>Praesent convallis nibh ollicitudin sit amet</li>
                                <li>Nullam ac sapien sit ac malesuada arca</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='dt-sc-hr-invisible-medium  '></div>
                <div class='fullwidth-section  dt-sc-parallax-section' style="background-image:url(https://lmstheme.wpengine.com/wp-content/uploads/2014/08/parallax-light2.jpg);background-position:left top;background-attachment:fixed; ">
                    <div class="container">
                        <div class='dt-sc-hr-invisible-medium  '></div>
                        <div class='column dt-sc-one-half  space  first'>
                            <h3 class='border-title  '>Who We are<span></span></h3>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Lorem Ipsum
                                available, but the majority have suffered alteration in some form. Vivamus adipiscing lobortis sagittis. Nullam tempus mauris dolor, ac malesuada arcu. Praesent dolor quam, tincidunt in sollicitudin sit amet, volutpat
                                sed velit. Nullam non neque ipsum.
                            </p>
                            <a href='#' target='_blank' class='dt-sc-button   small  filled'>Purchase Now</a>
                        </div>
                        <div class='column dt-sc-one-half  space  '>
                            <div class='dt-sc-bar-text'>Print Design   - 50%</div>
                            <div class='dt-sc-progress dt-sc-progress-striped active'>
                                <div class='dt-sc-bar' style='background-color:#9bbd3c;' data-value='50'></div>
                            </div>
                            <div class='dt-sc-bar-text'>Creative Team - 75%</div>
                            <div class='dt-sc-progress dt-sc-progress-striped active'>
                                <div class='dt-sc-bar' style='background-color:#8b5595;' data-value='75'></div>
                            </div>
                            <div class='dt-sc-bar-text'>Programmers   - 60%</div>
                            <div class='dt-sc-progress dt-sc-progress-striped active'>
                                <div class='dt-sc-bar' style='background-color:#d98f5a;' data-value='60'></div>
                            </div>
                            <div class='dt-sc-bar-text'>SEO   - 45%</div>
                            <div class='dt-sc-progress dt-sc-progress-striped active'>
                                <div class='dt-sc-bar' style='background-color:#bc5050;' data-value='45'></div>
                            </div>
                            <div class='dt-sc-bar-text'>Content Development - 35%</div>
                            <div class='dt-sc-progress dt-sc-progress-striped active'>
                                <div class='dt-sc-bar' style='background-color:#5a5a5a;' data-value='35'></div>
                            </div>
                        </div>
                        <div class='dt-sc-hr-invisible-medium  '></div>
                    </div>
                </div>
                <div class='dt-sc-hr-invisible-medium  '></div>
                <div class='fullwidth-section  '>
                    <div class="container">
                        <h3 class='border-title  '>Our Expert Teachers<span></span></h3>
                        <div class='dt-sc-hr-invisible  '></div>
                        <div class="column dt-sc-one-fourth first">
                            <div class='dt-sc-team'>
                                <div class='image'><img src="https://placehold.it/400x420" alt="member-image" /> </div>
                                <div class="team-details">
                                    <h5><a href="https://lmstheme.wpengine.com/wp-admin/admin-ajax.php?ajax=true&amp;action=dttheme_team_member&amp;post_id=7108&amp;nonce=867b5582a3" data-gal="prettyPhoto[pp_gal]">teacher</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class='dt-sc-team'>
                                <div class='image'>
                                    <img width="550" height="550" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4.jpg 550w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-95x95.jpg 95w"
                                         sizes="(max-width: 550px) 100vw, 550px" />
                                </div>
                                <div class="team-details">
                                    <h5><a href="https://lmstheme.wpengine.com/wp-admin/admin-ajax.php?ajax=true&amp;action=dttheme_team_member&amp;post_id=4396&amp;nonce=867b5582a3" data-gal="prettyPhoto[pp_gal]">Jenny Sheen</a></h5>
                                    <h6>Marketing Director</h6>
                                    <div class='dt-sc-social-icons'>
                                        <ul>
                                            <li class='picasa'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/picasa.png' alt='picasa' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/picasa.png' alt='picasa' /> </a></li>
                                            <li class='facebook'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png' alt='facebook' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png' alt='facebook' /> </a></li>
                                            <li class='gtalk'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/gtalk.png' alt='gtalk' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/gtalk.png' alt='gtalk' /> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class='dt-sc-team'>
                                <div class='image'>
                                    <img width="550" height="550" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher3.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher3.jpg 550w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher3-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher3-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher3-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher3-95x95.jpg 95w"
                                         sizes="(max-width: 550px) 100vw, 550px" />
                                </div>
                                <div class="team-details">
                                    <h5><a href="https://lmstheme.wpengine.com/wp-admin/admin-ajax.php?ajax=true&amp;action=dttheme_team_member&amp;post_id=4395&amp;nonce=867b5582a3" data-gal="prettyPhoto[pp_gal]">James Catwin</a></h5>
                                    <h6>Art Director</h6>
                                    <div class='dt-sc-social-icons'>
                                        <ul>
                                            <li class='facebook'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png' alt='facebook' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png' alt='facebook' /> </a></li>
                                            <li class='gtalk'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/gtalk.png' alt='gtalk' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/gtalk.png' alt='gtalk' /> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class='dt-sc-team'>
                                <div class='image'>
                                    <img width="550" height="550" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2.jpg 550w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-95x95.jpg 95w"
                                         sizes="(max-width: 550px) 100vw, 550px" />
                                </div>
                                <div class="team-details">
                                    <h5><a href="https://lmstheme.wpengine.com/wp-admin/admin-ajax.php?ajax=true&amp;action=dttheme_team_member&amp;post_id=4394&amp;nonce=867b5582a3" data-gal="prettyPhoto[pp_gal]">Damie Glendell</a></h5>
                                    <h6>Co-Director</h6>
                                    <div class='dt-sc-social-icons'>
                                        <ul>
                                            <li class='google'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/google.png' alt='google' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/google.png' alt='google' /> </a></li>
                                            <li class='flickr'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/flickr.png' alt='flickr' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/flickr.png' alt='flickr' /> </a></li>
                                            <li class='rss'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/rss.png' alt='rss' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/rss.png' alt='rss' /> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='dt-sc-hr-invisible-medium  '></div>
                <div class='fullwidth-section  '>
                    <div class="container">
                        <h2 class='border-title aligncenter '>Take a look to our services<span></span></h2>
                        <div class='dt-sc-hr-invisible-small  '></div>
                        <div class='column dt-sc-one-third  space  first'>
                            <div class='dt-sc-ico-content type11'>
                                <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-leaf'></span></a></div>
                                <h4><a href='#' target='_blank'> Custom Post type for Courses </a></h4>
                                <p style="font-weight: 300;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                            </div>
                        </div>
                        <div class='column dt-sc-one-third  space  '>
                            <div class='dt-sc-ico-content type11'>
                                <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-cogs'></span></a></div>
                                <h4><a href='#' target='_blank'> Sensei plugin support </a></h4>
                                <p style="font-weight: 300;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                            </div>
                        </div>
                        <div class='column dt-sc-one-third  space  '>
                            <div class='dt-sc-ico-content type11'>
                                <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-flag'></span></a></div>
                                <h4><a href='#' target='_blank'> Buddypress Support </a></h4>
                                <p style="font-weight: 300;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                            </div>
                        </div>
                        <div class='dt-sc-hr-invisible  '></div>
                        <div class='column dt-sc-one-third  space  first'>
                            <div class='dt-sc-ico-content type11'>
                                <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-leaf'></span></a></div>
                                <h4><a href='#' target='_blank'> Woocommerce Support </a></h4>
                                <p style="font-weight: 300;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                            </div>
                        </div>
                        <div class='column dt-sc-one-third  space  '>
                            <div class='dt-sc-ico-content type11'>
                                <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-cogs'></span></a></div>
                                <h4><a href='#' target='_blank'> Custom Post type for Teachers </a></h4>
                                <p style="font-weight: 300;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                            </div>
                        </div>
                        <div class='column dt-sc-one-third  space  '>
                            <div class='dt-sc-ico-content type11'>
                                <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-flag'></span></a></div>
                                <h4><a href='#' target='_blank'> Custom Search for courses </a></h4>
                                <p style="font-weight: 300;">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                                <div class='dt-sc-hr-invisible-medium  '></div>
                            </div>
                        </div>
                        <div class='dt-sc-hr-invisible-medium  '></div>
                        <p style="text-align: center; margin: 0px;"><img class="size-full wp-image-4945" style="margin-bottom: -7px;" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/showcase-image.png" alt="lms-showcase" width="1086" height="677" /></p>
                    </div>
                </div>
                <div class='fullwidth-section dark-bg dt-sc-parallax-section' style="background-color:#000000;background-image:url(https://lmstheme.wpengine.com/wp-content/uploads/2014/06/sample-parallax2.jpg);background-position:left top;background-attachment:fixed; ">
                    <div class="container">
                        <div class='dt-sc-hr-invisible-medium  '></div>
                        <h2 class='border-title aligncenter '>Our Happy Customers<span></span></h2>
                        <div class='dt-sc-hr-invisible-small  '></div>
                        <div class="dt-sc-testimonial-carousel-wrapper">
                            <ul class='dt-sc-testimonial-carousel'>
                                <li>
                                    <div class='dt-sc-testimonial alignright type2'>
                                        <div class='author'><img src='https://lmstheme.wpengine.com/wp-content/uploads/2014/01/testimonial-author1.jpg' alt='<span>Cambridge Telcecom</span>' title=' John Doe ' /></div>
                                        <blockquote><q> "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</q></blockquote>
                                        <div class='author-detail'>
                                            John Doe <span><span>Cambridge Telcecom</span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class='dt-sc-testimonial  type2'>
                                        <div class='author'><img src='https://lmstheme.wpengine.com/wp-content/uploads/2014/01/testimonial-author2.jpg' alt='<span>Cambridge Telcecom</span>' title=' John Doe ' /></div>
                                        <blockquote><q> "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</q></blockquote>
                                        <div class='author-detail'>
                                            John Doe <span><span>Cambridge Telcecom</span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class='dt-sc-testimonial alignright type2'>
                                        <div class='author'><img src='https://lmstheme.wpengine.com/wp-content/uploads/2014/01/testimonial-author3.jpg' alt='<span>Cambridge Telcecom</span>' title=' John Doe ' /></div>
                                        <blockquote><q> "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</q></blockquote>
                                        <div class='author-detail'>
                                            John Doe <span><span>Cambridge Telcecom</span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class='dt-sc-testimonial  type2'>
                                        <div class='author'><img src='https://lmstheme.wpengine.com/wp-content/uploads/2014/01/testimonial-author4.jpg' alt='<span>Cambridge Telcecom</span>' title=' John Doe ' /></div>
                                        <blockquote><q> "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</q></blockquote>
                                        <div class='author-detail'>
                                            John Doe <span><span>Cambridge Telcecom</span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class='dt-sc-testimonial alignright type2'>
                                        <div class='author'><img src='https://lmstheme.wpengine.com/wp-content/uploads/2014/01/testimonial-author5.jpg' alt='<span>Cambridge Telcecom</span>' title=' John Doe ' /></div>
                                        <blockquote><q> "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</q></blockquote>
                                        <div class='author-detail'>
                                            John Doe <span><span>Cambridge Telcecom</span></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="carousel-arrows"> <a href="" class="testimonial-prev"> </a> <a href="" class="testimonial-next"> </a></div>
                        </div>
                        <div class='dt-sc-hr-invisible  '></div>
                    </div>
                </div>
                <div class='dt-sc-hr-invisible-medium  '></div>
                <div class='fullwidth-section  '>
                    <div class="container">
                        <h3 class='border-title  '>Our Clients<span></span></h3>
                        <div class="dt-sc-partner-carousel-wrapper">
                            <ul class='dt-sc-partner-carousel'>
                                <li><a href="#"><img title="Client 1" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/client2.png" alt="Client 1" /></a></li>
                                <li><a href="#"><img title="Client 2" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/client7.png" alt="Client 2" /></a></li>
                                <li><a href="#"><img title="Client 3" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/client3.png" alt="Client 3" /></a></li>
                                <li><a href="#"><img title="Client 4" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/client4.png" alt="Client 4" /></a></li>
                                <li><a href="#"><img title="Client 5" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/client6.png" alt="Client 5" /></a></li>
                                <li><a href="#"><img title="Client 5" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/client1.png" alt="Client 6" /></a></li>
                                <li><a href="#"><img title="Client 5" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/client5.png" alt="Client 7" /></a></li>
                            </ul>
                            <div class="carousel-arrows"> <a href="" class="partner-prev"> </a> <a href="" class="partner-next"> </a></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="social-bookmark"></div>
                    <div class="social-share"></div>
                </div>
            </div>
            <!-- #post-4238 -->

    </section>
    <!-- ** Primary Section End ** -->
</div>
<!-- **Main - End** -->
