
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="main">
    <section class="main-title-section-wrapper">
        <div class="container">
            <div class="main-title-section">
                <h1>Giỏ hàng</h1>
                <div class="breadcrumb">
                    <a href="/Home">Trang chủ</a><span class="fa default"></span><span class="current">Giỏ hàng</span>
                </div>
            </div>
            <div class="header-search">
                <form method="get" id="searchform" class="searchform" action="@Url.Action("Shop","Home")">
                    <input id="search-input" name="search" type="text" class="text_input" placeholder="Tìm kiếm khóa học" value="@ViewBag.Search" />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </section>

    <div class="container">
        <section id="primary" class="content-full-width">
            @*Neu ko co item trong cart*@
            @if (TempData["msgCOD"] == "Order success!")
            {
                <div style="text-align: center" class="order-success" data-check="done">
                    <h4>Thành công! Mã kích hoạt sẽ được gửi đến tận nơi, miễn phí giao hàng.</h4>
                </div>
            }
            @if (ViewBag.ThanhToan == "Success!")
            {
                <div style="text-align: center" class="order-paid-success" data-check="done">
                    <h4>Thanh toán thành công! Bạn có thể tham gia khóa học.</h4>
                </div>
            }
            <div id="post-1061" class="post-1061 page type-page status-publish hentry no-item-cart">
                <div class="woocommerce">
                    <p class="cart-empty">Giỏ hàng trống.</p>
                    <p class="return-to-shop">
                        <a class="button wc-backward" href="/Home/Shop">
                            Quay trở lại trang khóa học
                        </a>
                    </p>
                </div>
                <div class="social-bookmark"></div><div class="social-share"></div>
            </div>

            <div id="post-1061" class="post-1061 page type-page status-publish hentry items-cart">
                <div class="woocommerce">
                    <p class="return-to-shop"><a class="button wc-backward" href="/Home/Shop">Quay trở lại trang khóa học</a></p>
                    <div class="dt-sc-hr-invisible-small"></div>

                    <form class="woocommerce-cart-form" action="" method="post">
                        <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                </tr>
                            </thead>
                            <tbody class="show-cart-page">
                            </tbody>
                        </table>
                    </form>

                    <div class="cart-collaterals">
                        <div class="cart_totals ">
                            <h2>Cart totals</h2>
                            <table cellspacing="0" class="shop_table shop_table_responsive">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td data-title="Subtotal"><span class="woocommerce-Price-amount amount total-cart-page"> $0.00</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td data-title="Total"><strong><span class="woocommerce-Price-amount amount total-cart-page">$0.00</span></strong> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="/Home/Checkout" class="checkout-button button alt wc-forward" click="console.log('Click')">
                                    Proceed to checkout
                                </a>
                            </div>
                        </div>
                        <div class="cross-sells">
                            <h2>You may be interested in…</h2>
                            <ul class="products columns-3">
                                <li class="post-1147 product type-product status-publish has-post-thumbnail product_cat-posters pif-has-gallery first instock sale shipping-taxable purchasable product-type-simple">
                                    <!-- Prodcut Wrapper -->
                                    <div class="product-wrapper  on-sale-product  in-stock-product  product-three-column" style="height: 475px;">
                                        <div class="product-container">
                                            <a href="https://lmstheme.wpengine.com/product/application-developement/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                <!-- Product Thumnail -->
                                                <div class="product-thumb"><img width="300" height="300" src="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover2-300x300.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover2-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover2-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover2-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover2-95x95.jpg 95w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover2-600x600.jpg 600w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover2.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px"><img width="300" height="300" src="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover1-300x300.jpg" class="secondary-image attachment-shop-catalog" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover1-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover1-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover1-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover1-95x95.jpg 95w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover1-600x600.jpg 600w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/cover1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px"><span class="onsale"><span>Sale!</span></span></div><!-- Product Thumbnail -->
                                                <div class="product-title">
                                                    <h2 class="woocommerce-loop-product__title">Application Developement</h2>
                                                </div>
                                            </a><!-- Product Details -->
                                            <div class="product-details">
                                                <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>15.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>12.00</span></ins></span>
                                                <a href="/cart/?add-to-cart=1147" data-quantity="1" class="dt-sc-button button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="1147" data-product_sku="" aria-label="Add “Application Developement” to your cart" rel="nofollow">Add to cart</a>
                                            </div><!-- Product Details -->
                                            <div class="product-details-hover">
                                                <h3><a href="https://lmstheme.wpengine.com/product/application-developement/">Application Developement</a></h3>
                                                <div class="star-rating"><span style="width: 60%">Rated <strong class="rating">3.00</strong> out of 5</span></div>
                                                <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>15.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>12.00</span></ins></span>
                                                <a href="/cart/?add-to-cart=1147" data-quantity="1" class="dt-sc-button button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="1147" data-product_sku="" aria-label="Add “Application Developement” to your cart" rel="nofollow">Add to cart</a>
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1147">
                                                    <div class="yith-wcwl-add-button show" style="display: block">
                                                        <a href="/cart/?add_to_wishlist=1147" rel="nofollow" data-product-id="1147" data-product-type="simple" class="add_to_wishlist">
                                                            Add to Wishlist
                                                        </a>
                                                        <img src="https://lmstheme.wpengine.com/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility: hidden">
                                                    </div>
                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                        <span class="feedback">Product added!</span>
                                                        <a href="https://lmstheme.wpengine.com/wishlist/" rel="nofollow">
                                                            Browse Wishlist
                                                        </a>
                                                    </div>

                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none">
                                                        <span class="feedback">The product is already in the wishlist!</span>
                                                        <a href="https://lmstheme.wpengine.com/wishlist/" rel="nofollow">
                                                            Browse Wishlist
                                                        </a>
                                                    </div>

                                                    <div style="clear: both"></div>
                                                    <div class="yith-wcwl-wishlistaddresponse"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="post-1142 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-hoodies pif-has-gallery  instock shipping-taxable purchasable product-type-simple">
                                    <!-- Prodcut Wrapper -->
                                    <div class="product-wrapper  in-stock-product  product-three-column" style="height: 475px;">
                                        <div class="product-container">
                                            <a href="https://lmstheme.wpengine.com/product/application-maintenance/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                <!-- Product Thumnail -->
                                                <div class="product-thumb"><img width="300" height="300" src="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-300x300.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-95x95.jpg 95w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-600x600.jpg 600w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/badge.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px"><img width="300" height="300" src="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/book1-300x300.jpg" class="secondary-image attachment-shop-catalog" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2013/06/book1-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/book1-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/book1-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/book1-95x95.jpg 95w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/book1-600x600.jpg 600w, https://lmstheme.wpengine.com/wp-content/uploads/2013/06/book1.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px"></div><!-- Product Thumbnail -->
                                                <div class="product-title">
                                                    <h2 class="woocommerce-loop-product__title">Application Maintenance</h2>
                                                </div>
                                            </a><!-- Product Details -->
                                            <div class="product-details">
                                                <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>35.00</span></span>
                                                <a href="/cart/?add-to-cart=1142" data-quantity="1" class="dt-sc-button button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="1142" data-product_sku="" aria-label="Add “Application Maintenance” to your cart" rel="nofollow">Add to cart</a>
                                            </div><!-- Product Details -->
                                            <div class="product-details-hover">
                                                <h3><a href="https://lmstheme.wpengine.com/product/application-maintenance/">Application Maintenance</a></h3>
                                                <div class="star-rating"><span style="width: 93.4%">Rated <strong class="rating">4.67</strong> out of 5</span></div>
                                                <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>35.00</span></span>
                                                <a href="/cart/?add-to-cart=1142" data-quantity="1" class="dt-sc-button button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="1142" data-product_sku="" aria-label="Add “Application Maintenance” to your cart" rel="nofollow">Add to cart</a>
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1142">
                                                    <div class="yith-wcwl-add-button show" style="display: block">
                                                        <a href="/cart/?add_to_wishlist=1142" rel="nofollow" data-product-id="1142" data-product-type="simple" class="add_to_wishlist">
                                                            Add to Wishlist
                                                        </a>
                                                        <img src="https://lmstheme.wpengine.com/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility: hidden">
                                                    </div>

                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                        <span class="feedback">Product added!</span>
                                                        <a href="https://lmstheme.wpengine.com/wishlist/" rel="nofollow">
                                                            Browse Wishlist
                                                        </a>
                                                    </div>

                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none">
                                                        <span class="feedback">The product is already in the wishlist!</span>
                                                        <a href="https://lmstheme.wpengine.com/wishlist/" rel="nofollow">
                                                            Browse Wishlist
                                                        </a>
                                                    </div>

                                                    <div style="clear: both"></div>
                                                    <div class="yith-wcwl-wishlistaddresponse"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="social-bookmark"></div>
                <div class="social-share"></div>
            </div>
        </section>
    </div>
</div>
@section Scripts{
    <script>
        jQuery(document).ready(function($) {
            if ($('.order-success').data("check") == "done" || $('.order-paid-success').data("check") == "done") {
                sessionStorage.removeItem("shoppingCart");
                $('.no-item-cart').css({ "display": "block" });
                $('.items-cart').css({ "display": "none" });
                $('.total-count').html("0");
            }
        })
    </script>
}

