@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
    <div id="main">

        <!-- Slider Section -->
        <!-- Sub Title Section -->
        <!-- ** Breadcrumb Section ** --><section class="main-title-section-wrapper">
            <div class="container">
                <div class="main-title-section">
                    <h1>Contact</h1><div class="breadcrumb">
                        <a href="https://lmstheme.wpengine.com">Home</a><span class="fa default">  </span><span class="current">Contact</span>
                    </div><!-- ** breadcrumb - End -->
                </div>		<div class="header-search">
                    <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                        <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search">
                        <input type="hidden" name="search-type" value="default">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </section><!-- ** Breadcrumb Section End ** -->        <!-- Sub Title Section -->
        <!-- ** Primary Section ** -->
        <section id="primary" class="content-full-width">
            <!-- #post-4243 -->
            <div id="post-4243" class="post-4243 page type-page status-publish hentry">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="fullwidth-section  ">
                                            <div class="container">
                                                <div class="column dt-sc-two-third  space  first">
                                                    <h3 class="border-title  ">Give us a message<span></span></h3>
                                                    <div role="form" class="wpcf7" id="wpcf7-f4245-p4243-o2" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"></div>
                                                        <form action="/contact/#wpcf7-f4245-p4243-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="4245">
                                                                <input type="hidden" name="_wpcf7_version" value="5.1.4">
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4245-p4243-o2">
                                                                <input type="hidden" name="_wpcf7_container_post" value="4243">
                                                            </div>
                                                            <div id="contact-form">
                                                                <p>
                                                                    <span class="fa fa-user"> </span>
                                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name"></span>
                                                                </p>
                                                                <p>
                                                                    <span class="fa fa-envelope-o"> </span>
                                                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"></span>
                                                                </p>
                                                                <p>
                                                                    <span class="fa fa-mobile"> </span>
                                                                    <span class="wpcf7-form-control-wrap tele"><input type="tel" name="tele" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Phone"></span>
                                                                </p>
                                                                <p class="textarea-field">
                                                                    <span class="fa fa-file-text-o"> </span>
                                                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span>
                                                                </p>
                                                                <p class="submit"> <input type="submit" value="Send Email" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span> </p>
                                                            </div>
                                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="column dt-sc-one-third  space  ">
                                                    <h3 class="border-title  ">Contact Info<span></span></h3>
                                                    <div class="dt-sc-contact-info address"><div class="icon"><i class="fa fa-location-arrow"></i></div><p>The Design Themes Inc.<br>Mary Jane St, Sydney 2233 Australia.</p><p><span></span></p></div>
                                                    <div class="dt-sc-contact-info"><div class="icon"><i class="fa fa-phone"></i></div><p><a href="tel:12002582145">+1 200 258 2145</a></p><span></span></div>
                                                    <div class="dt-sc-contact-info"><div class="icon"><i class="fa fa-fax"></i></div><p>+1 100 458 2345</p><span></span></div>
                                                    <div class="dt-sc-contact-info"><div class="icon"><i class="fa fa-mobile-phone"></i></div><p><a href="tel:911234567890">+91 12345 67890</a></p><span></span></div>
                                                    <div class="dt-sc-contact-info"><div class="icon"><i class="fa fa-envelope"></i></div><p><a href="mailto:super@email.com">super@email.com</a></p><span></span></div>
                                                    <div class="dt-sc-contact-info"><div class="icon"><i class="fa fa-globe"></i></div><p><a target="_blank" href="http://www.google.com">google.com</a></p><span></span></div>
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="dt-sc-clear"></div><br>
                                        <div class="dt-sc-hr-invisible-medium  "></div>
                                        
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container"><div class="social-bookmark"></div><div class="social-share"></div></div>
            </div><!-- #post-4243 -->

        </section><!-- ** Primary Section End ** -->
    </div>