@{
    ViewBag.Title = "Home Page";
}

<div id="main" class="main-home" style="margin-top: -139px;">
    <!-- Slider Section -->
    <div id="slider">
        <div id="slider-container"><img src="~/Content/assets/wp-content/uploads/2014/08/fullscreen-slider.jpg" alt="" /></div>
        <div id="slider-search-container">
            <div class="slider-search">
                <form method="get" id="courses-search" class="courses-search" action="search-course/">
                    <input id="searchtext" name="searchtext" type="text" value="" placeholder="Search Course" />
                    <input type="hidden" name="search-type" value="courses" />
                    <input type="hidden" name="lang" value="" />
                    <input type="submit" value="">
                    <div class="course-title-holder hidden">
                        ["Advanced Programming","Analysis of Algorithms","Architecture Analysis & Design","Basic Laws and Policies","Emerging Trends and Technologies","Fitness Training Program","General Business Law","Healthcare Delivery","Introduction
                        to Calculus","Maintenance Training","Power Electronics","Processing Digital Signal"]
                    </div>
                </form>
                <h4>We have the largest collection of courses</h4><a href="courses/" title="View All Courses"> View All Courses <span class="fa fa-angle-double-right"> </span> </a>
            </div>
            <div class="dt-sc-clear"></div>

            <div class='dt-sc-hr-invisible-medium  '></div>

            <div class='dt-sc-hr-invisible-medium  '></div>

            <div class='column dt-sc-one-fourth  space  first'>
                <div class="dt-sc-counter" data-counter="332">
                    <div class="dt-sc-counter-number"> 332 </div>
                    <h5> Courses <span> </span></h5>
                </div>
            </div>
            <div class='column dt-sc-one-fourth  space  '>
                <div class="dt-sc-counter" data-counter="1403">
                    <div class="dt-sc-counter-number"> 1403 </div>
                    <h5> Members <span> </span></h5>
                </div>
            </div>
            <div class='column dt-sc-one-fourth  space  '>
                <div class="dt-sc-counter" data-counter="60">
                    <div class="dt-sc-counter-number"> 60 </div>
                    <h5> Authors <span> </span></h5>
                </div>
            </div>
            <div class='column dt-sc-one-fourth  space  '>
                <div class="dt-sc-counter" data-counter="120">
                    <div class="dt-sc-counter-number"> 120 </div>
                    <h5> Subjects <span> </span></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- **Slider Section - End** -->
    <!-- Sub Title Section -->
    <!-- Sub Title Section -->
    <!-- ** Primary Section ** -->
    <section id="primary" class="content-full-width">
        <!-- #post-5009 -->
        <div id="post-5009" class="post-5009 page type-page status-publish hentry">
            <div class='fullwidth-section  '>
                <div class="container">
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='column dt-sc-one-fourth  space  first'>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon1'></span></a></div>
                            <h4><a href='#' target='_blank'> Best Stimulations </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon2'></span></a></div>
                            <h4><a href='#' target='_blank'> Group Seminars </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon3'></span></a></div>
                            <h4><a href='#' target='_blank'> Analysed Syllabus </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-fourth  space  '>
                        <div class='dt-sc-ico-content type14'>
                            <div class='custom-icon'><a href='#' target='_blank'><span class='fa fa-custom-icon4'></span></a></div>
                            <h4><a href='#' target='_blank'> Pratical Training </a></h4>
                        </div>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <h2 class='border-title  '>Courses<span></span></h2>
                    <div class='column dt-sc-one-third  space  first'>
                        <h3>About Courses</h3>
                        <p>Student Registration and Administration Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res eos qui ratione voluptatem sequi nesciunt.</p>
                        <div class='dt-sc-hr-invisible-small  '></div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised believable.</p>
                        <div class='dt-sc-hr-invisible-small  '></div>
                        <a href='dtcourses/' target='_blank' class='dt-sc-button   small  '>View All Courses</a>
                    </div>
                    <div class='column dt-sc-two-third  space  '>
                        <div class="dt-sc-course-carousel-wrapper">
                            <ul class="dt-sc-course-carousel" data-column="2">
                                <li class="column dt-sc-one-half">
                                    <article id="post-5993" class="dt-sc-custom-course-type  post-5993 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                                        <div class="dt-sc-course-thumb">
                                            <a href="courses/power-electronics/"><img src='~/Content/assets/wp-content/uploads/2014/08/course13-573x403.jpg' width='573' height='403' /></a>
                                            <div class="dt-sc-course-overlay">
                                                <a title="Power Electronics" href="courses/power-electronics/" class="dt-sc-button small white">View Course</a>
                                            </div>
                                        </div>
                                        <div class="dt-sc-course-details">
                                            <span class="dt-sc-course-price"><span class="amount">$50</span></span>
                                            <h5><a href="courses/power-electronics/" title="Power Electronics">Power Electronics</a></h5>
                                            <div class="dt-sc-course-meta">
                                                <p> <a href="coursecategory/education/" rel="tag">Education</a> </p>
                                                <p>6&nbsp;Lessons</p>
                                            </div>
                                            <div class="dt-sc-course-data">
                                                <div class="dt-sc-course-duration">
                                                    <i class="fa fa-clock-o"> </i>
                                                    <span>05 : 35</span>
                                                </div><span id="post-ratings-5993" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="f286fca11e">
                                                    <img id="rating_5993_1" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5993, 1, '1 Star');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_2" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5993, 2, '2 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_3" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5993, 3, '3 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_4" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5993, 4, '4 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_5" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5993, 5, '5 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>356</strong> votes, average: <strong>4.21</strong> out of 5)<span class="post-ratings-text" id="ratings_5993_text"></span>
                                                    <meta itemprop="headline" content="Power Electronics" />
                                                    <meta itemprop="description" content="Ut ac euismod velit. Aliquam condimentum dolor accumsan, venenatis sapien eu, egestas nunc. Suspendisse euismod semper fermentum. Nulla eleifend nibh pretium mattis dapibus." />
                                                    <meta itemprop="datePublished" content="2014-08-11T04:21:43+00:00" />
                                                    <meta itemprop="dateModified" content="2015-12-22T05:53:46+00:00" />
                                                    <meta itemprop="url" content="courses/power-electronics/" />
                                                    <meta itemprop="author" content="ram" />
                                                    <meta itemprop="mainEntityOfPage" content="courses/power-electronics/" />
                                                    <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                                        <meta itemprop="url" content="assets/wp-content/uploads/2014/08/course13-150x150.jpg" />
                                                        <meta itemprop="width" content="150" />
                                                        <meta itemprop="height" content="150" />
                                                    </div>
                                                    <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                                        <meta itemprop="name" content="LMS" />
                                                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                                            <meta itemprop="url" content="" />
                                                        </div>
                                                    </div>
                                                    <div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                        <meta itemprop="bestRating" content="5" />
                                                        <meta itemprop="worstRating" content="1" />
                                                        <meta itemprop="ratingValue" content="4.21" />
                                                        <meta itemprop="ratingCount" content="356" />
                                                    </div>
                                                </span>
                                                <span id="post-ratings-5993-loading" class="post-ratings-loading">
                                                    <img src="~/Content/assets/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                                </span>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="column dt-sc-one-half">
                                    <article id="post-5992" class="dt-sc-custom-course-type  post-5992 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-mathematics">
                                        <div class="dt-sc-course-thumb">
                                            <a href="courses/introduction-to-calculus/"><img src='~/Content/assets/wp-content/uploads/2014/08/course14-573x403.jpg' width='573' height='403' /></a>
                                            <div class="dt-sc-course-overlay">
                                                <a title="Introduction to Calculus" href="courses/introduction-to-calculus/" class="dt-sc-button small white">View Course</a>
                                            </div>
                                        </div>
                                        <div class="dt-sc-course-details">
                                            <span class="dt-sc-course-price"><span class="amount">Free</span></span>
                                            <h5><a href="courses/introduction-to-calculus/" title="Introduction to Calculus">Introduction to Calculus</a></h5>
                                            <div class="dt-sc-course-meta">
                                                <p> <a href="coursecategory/mathematics/" rel="tag">Mathematics</a> </p>
                                                <p>5&nbsp;Lessons</p>
                                            </div>
                                            <div class="dt-sc-course-data">
                                                <div class="dt-sc-course-duration">
                                                    <i class="fa fa-clock-o"> </i>
                                                    <span>03 : 15</span>
                                                </div><span id="post-ratings-5992" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="e090d553b1">
                                                    <img id="rating_5992_1" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5992, 1, '1 Star');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5992_2" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5992, 2, '2 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5992_3" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5992, 3, '3 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5992_4" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5992, 4, '4 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5992_5" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5992, 5, '5 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>308</strong> votes, average: <strong>4.19</strong> out of 5)<span class="post-ratings-text" id="ratings_5992_text"></span>
                                                    <meta itemprop="headline" content="Introduction to Calculus" />
                                                    <meta itemprop="description" content="Fusce commodo in neque vitae mollis. Sed dolor lorem, cursus et venenatis sed, sodales eu nisi. Nunc lacinia massa neque, eu tincidunt mi blandit eget. " />
                                                    <meta itemprop="datePublished" content="2014-08-11T04:18:26+00:00" />
                                                    <meta itemprop="dateModified" content="2014-08-11T11:40:57+00:00" />
                                                    <meta itemprop="url" content="courses/introduction-to-calculus/" />
                                                    <meta itemprop="author" content="ram" />
                                                    <meta itemprop="mainEntityOfPage" content="courses/introduction-to-calculus/" />
                                                    <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                                        <meta itemprop="url" content="assets/wp-content/uploads/2014/08/course14-150x150.jpg" />
                                                        <meta itemprop="width" content="150" />
                                                        <meta itemprop="height" content="150" />
                                                    </div>
                                                    <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                                        <meta itemprop="name" content="LMS" />
                                                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                                            <meta itemprop="url" content="" />
                                                        </div>
                                                    </div>
                                                    <div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                        <meta itemprop="bestRating" content="5" />
                                                        <meta itemprop="worstRating" content="1" />
                                                        <meta itemprop="ratingValue" content="4.19" />
                                                        <meta itemprop="ratingCount" content="308" />
                                                    </div>
                                                </span>
                                                <span id="post-ratings-5992-loading" class="post-ratings-loading">
                                                    <img src="~/Content/assets/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                                </span>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="column dt-sc-one-half">
                                    <article id="post-5991" class="dt-sc-custom-course-type  post-5991 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-law">
                                        <div class="dt-sc-course-thumb">
                                            <a href="courses/basic-laws-and-policies/"><img src='~/Content/assets/wp-content/uploads/2014/08/course15-573x403.jpg' width='573' height='403' /></a>
                                            <div class="dt-sc-course-overlay">
                                                <a title="Basic Laws and Policies" href="courses/basic-laws-and-policies/" class="dt-sc-button small white">View Course</a>
                                            </div>
                                        </div>
                                        <div class="dt-sc-course-details">
                                            <span class="dt-sc-course-price"><span class="amount">$40</span></span>
                                            <h5><a href="courses/basic-laws-and-policies/" title="Basic Laws and Policies">Basic Laws and Policies</a></h5>
                                            <div class="dt-sc-course-meta">
                                                <p> <a href="coursecategory/law/" rel="tag">Law</a> </p>
                                                <p>5&nbsp;Lessons</p>
                                            </div>
                                            <div class="dt-sc-course-data">
                                                <div class="dt-sc-course-duration">
                                                    <i class="fa fa-clock-o"> </i>
                                                    <span>05 : 10</span>
                                                </div><span id="post-ratings-5991" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="48b5a5fbf8">
                                                    <img id="rating_5991_1" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5991, 1, '1 Star');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5991_2" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5991, 2, '2 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5991_3" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5991, 3, '3 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5991_4" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5991, 4, '4 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5991_5" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5991, 5, '5 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>128</strong> votes, average: <strong>4.13</strong> out of 5)<span class="post-ratings-text" id="ratings_5991_text"></span>
                                                    <meta itemprop="headline" content="Basic Laws and Policies" />
                                                    <meta itemprop="description" content="Pellentesque venenatis orci vel enim malesuada, eget dignissim turpis egestas. Donec a ligula ac tellus ultrices lacinia. Nullam non nisi varius, posuere leo non, scelerisque orci." />
                                                    <meta itemprop="datePublished" content="2014-08-11T04:16:14+00:00" />
                                                    <meta itemprop="dateModified" content="2015-12-22T05:53:16+00:00" />
                                                    <meta itemprop="url" content="courses/basic-laws-and-policies/" />
                                                    <meta itemprop="author" content="ram" />
                                                    <meta itemprop="mainEntityOfPage" content="courses/basic-laws-and-policies/" />
                                                    <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                                        <meta itemprop="url" content="assets/wp-content/uploads/2014/08/course15-150x150.jpg" />
                                                        <meta itemprop="width" content="150" />
                                                        <meta itemprop="height" content="150" />
                                                    </div>
                                                    <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                                        <meta itemprop="name" content="LMS" />
                                                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                                            <meta itemprop="url" content="" />
                                                        </div>
                                                    </div>
                                                    <div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                        <meta itemprop="bestRating" content="5" />
                                                        <meta itemprop="worstRating" content="1" />
                                                        <meta itemprop="ratingValue" content="4.13" />
                                                        <meta itemprop="ratingCount" content="128" />
                                                    </div>
                                                </span>
                                                <span id="post-ratings-5991-loading" class="post-ratings-loading">
                                                    <img src="~/Content/assets/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                                </span>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="column dt-sc-one-half">
                                    <article id="post-5990" class="dt-sc-custom-course-type  post-5990 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-health">
                                        <div class="dt-sc-course-thumb">
                                            <a href="courses/healthcare-delivery/"><img src='~/Content/assets/wp-content/uploads/2014/08/course16-573x403.jpg' width='573' height='403' /></a>
                                            <div class="dt-sc-course-overlay">
                                                <a title="Healthcare Delivery" href="courses/healthcare-delivery/" class="dt-sc-button small white">View Course</a>
                                            </div>
                                        </div>
                                        <div class="dt-sc-course-details">
                                            <span class="dt-sc-course-price"><span class="amount">$50</span></span>
                                            <h5><a href="courses/healthcare-delivery/" title="Healthcare Delivery">Healthcare Delivery</a></h5>
                                            <div class="dt-sc-course-meta">
                                                <p> <a href="coursecategory/health/" rel="tag">Health</a> </p>
                                                <p>4&nbsp;Lessons</p>
                                            </div>
                                            <div class="dt-sc-course-data">
                                                <div class="dt-sc-course-duration">
                                                    <i class="fa fa-clock-o"> </i>
                                                    <span>03 : 25</span>
                                                </div><span id="post-ratings-5990" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="273a4850b6">
                                                    <img id="rating_5990_1" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5990, 1, '1 Star');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5990_2" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5990, 2, '2 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5990_3" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5990, 3, '3 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5990_4" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5990, 4, '4 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5990_5" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5990, 5, '5 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>70</strong> votes, average: <strong>4.07</strong> out of 5)<span class="post-ratings-text" id="ratings_5990_text"></span>
                                                    <meta itemprop="headline" content="Healthcare Delivery" />
                                                    <meta itemprop="description" content="In bibendum eu justo vitae ornare. In et tellus ut magna vehicula ultricies. Duis blandit adipiscing dolor, ut tincidunt augue tincidunt eu. Duis non auctor enim." />
                                                    <meta itemprop="datePublished" content="2014-08-11T04:13:36+00:00" />
                                                    <meta itemprop="dateModified" content="2015-12-22T05:54:55+00:00" />
                                                    <meta itemprop="url" content="courses/healthcare-delivery/" />
                                                    <meta itemprop="author" content="ram" />
                                                    <meta itemprop="mainEntityOfPage" content="courses/healthcare-delivery/" />
                                                    <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                                        <meta itemprop="url" content="assets/wp-content/uploads/2014/08/course16-150x150.jpg" />
                                                        <meta itemprop="width" content="150" />
                                                        <meta itemprop="height" content="150" />
                                                    </div>
                                                    <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                                        <meta itemprop="name" content="LMS" />
                                                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                                            <meta itemprop="url" content="" />
                                                        </div>
                                                    </div>
                                                    <div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                        <meta itemprop="bestRating" content="5" />
                                                        <meta itemprop="worstRating" content="1" />
                                                        <meta itemprop="ratingValue" content="4.07" />
                                                        <meta itemprop="ratingCount" content="70" />
                                                    </div>
                                                </span>
                                                <span id="post-ratings-5990-loading" class="post-ratings-loading">
                                                    <img src="~/Content/assets/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                                </span>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="column dt-sc-one-half">
                                    <article id="post-5989" class="dt-sc-custom-course-type  post-5989 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-law">
                                        <div class="dt-sc-course-thumb">
                                            <a href="courses/general-business-law/"><img src='~/Content/assets/wp-content/uploads/2014/08/course17-573x403.jpg' width='573' height='403' /></a>
                                            <div class="dt-sc-course-overlay">
                                                <a title="General Business Law" href="courses/general-business-law/" class="dt-sc-button small white">View Course</a>
                                            </div>
                                        </div>
                                        <div class="dt-sc-course-details">
                                            <span class="dt-sc-course-price"><span class="amount">Free</span></span>
                                            <h5><a href="courses/general-business-law/" title="General Business Law">General Business Law</a></h5>
                                            <div class="dt-sc-course-meta">
                                                <p> <a href="coursecategory/law/" rel="tag">Law</a> </p>
                                                <p>7&nbsp;Lessons</p>
                                            </div>
                                            <div class="dt-sc-course-data">
                                                <div class="dt-sc-course-duration">
                                                    <i class="fa fa-clock-o"> </i>
                                                    <span>06 : 05</span>
                                                </div><span id="post-ratings-5989" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="35254408b8">
                                                    <img id="rating_5989_1" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5989, 1, '1 Star');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5989_2" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5989, 2, '2 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5989_3" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5989, 3, '3 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5989_4" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5989, 4, '4 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5989_5" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5989, 5, '5 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>92</strong> votes, average: <strong>4.05</strong> out of 5)<span class="post-ratings-text" id="ratings_5989_text"></span>
                                                    <meta itemprop="headline" content="General Business Law" />
                                                    <meta itemprop="description" content="Fusce commodo in neque vitae mollis. Sed dolor lorem, cursus et venenatis sed, sodales eu nisi. Nunc lacinia massa neque, eu tincidunt mi blandit eget." />
                                                    <meta itemprop="datePublished" content="2014-08-11T04:11:30+00:00" />
                                                    <meta itemprop="dateModified" content="2014-08-11T11:43:39+00:00" />
                                                    <meta itemprop="url" content="courses/general-business-law/" />
                                                    <meta itemprop="author" content="ram" />
                                                    <meta itemprop="mainEntityOfPage" content="courses/general-business-law/" />
                                                    <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                                        <meta itemprop="url" content="assets/wp-content/uploads/2014/08/course17-150x150.jpg" />
                                                        <meta itemprop="width" content="150" />
                                                        <meta itemprop="height" content="150" />
                                                    </div>
                                                    <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                                        <meta itemprop="name" content="LMS" />
                                                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                                            <meta itemprop="url" content="" />
                                                        </div>
                                                    </div>
                                                    <div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                        <meta itemprop="bestRating" content="5" />
                                                        <meta itemprop="worstRating" content="1" />
                                                        <meta itemprop="ratingValue" content="4.05" />
                                                        <meta itemprop="ratingCount" content="92" />
                                                    </div>
                                                </span>
                                                <span id="post-ratings-5989-loading" class="post-ratings-loading">
                                                    <img src="~/Content/assets/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                                </span>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="column dt-sc-one-half">
                                    <article id="post-5988" class="dt-sc-custom-course-type  post-5988 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-engineering">
                                        <div class="dt-sc-course-thumb">
                                            <a href="courses/emerging-trends-and-technologies/"><img src='~/Content/assets/wp-content/uploads/2014/08/course18-573x403.jpg' width='573' height='403' /></a>
                                            <div class="dt-sc-course-overlay">
                                                <a title="Emerging Trends and Technologies" href="courses/emerging-trends-and-technologies/" class="dt-sc-button small white">View Course</a>
                                            </div>
                                        </div>
                                        <div class="dt-sc-course-details">
                                            <span class="dt-sc-course-price"><span class="amount">Free</span></span>
                                            <h5><a href="courses/emerging-trends-and-technologies/" title="Emerging Trends and Technologies">Emerging Trends and Technologies</a></h5>
                                            <div class="dt-sc-course-meta">
                                                <p> <a href="coursecategory/engineering/" rel="tag">Engineering</a> </p>
                                                <p>4&nbsp;Lessons</p>
                                            </div>
                                            <div class="dt-sc-course-data">
                                                <div class="dt-sc-course-duration">
                                                    <i class="fa fa-clock-o"> </i>
                                                    <span>03 : 10</span>
                                                </div><span id="post-ratings-5988" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="e276e3baa5">
                                                    <img id="rating_5988_1" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5988, 1, '1 Star');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5988_2" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5988, 2, '2 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5988_3" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5988, 3, '3 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5988_4" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5988, 4, '4 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5988_5" src="~/Content/assets/wp-content/plugins/wp-postratings/images/stars/rating_half.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5988, 5, '5 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>65</strong> votes, average: <strong>4.26</strong> out of 5)<span class="post-ratings-text" id="ratings_5988_text"></span>
                                                    <meta itemprop="headline" content="Emerging Trends and Technologies" />
                                                    <meta itemprop="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus magna nisi, vel pharetra ligula cursus eu. Sed ultricies condimentum velit et pharetra." />
                                                    <meta itemprop="datePublished" content="2014-08-11T04:07:30+00:00" />
                                                    <meta itemprop="dateModified" content="2014-08-11T11:44:35+00:00" />
                                                    <meta itemprop="url" content="courses/emerging-trends-and-technologies/" />
                                                    <meta itemprop="author" content="ram" />
                                                    <meta itemprop="mainEntityOfPage" content="courses/emerging-trends-and-technologies/" />
                                                    <div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                                        <meta itemprop="url" content="assets/wp-content/uploads/2014/08/course18-150x150.jpg" />
                                                        <meta itemprop="width" content="150" />
                                                        <meta itemprop="height" content="150" />
                                                    </div>
                                                    <div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                                        <meta itemprop="name" content="LMS" />
                                                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                                            <meta itemprop="url" content="" />
                                                        </div>
                                                    </div>
                                                    <div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                        <meta itemprop="bestRating" content="5" />
                                                        <meta itemprop="worstRating" content="1" />
                                                        <meta itemprop="ratingValue" content="4.26" />
                                                        <meta itemprop="ratingCount" content="65" />
                                                    </div>
                                                </span>
                                                <span id="post-ratings-5988-loading" class="post-ratings-loading">
                                                    <img src="~/Content/assets/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                                </span>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                            <div class="carousel-arrows"><a class="course-prev" href=""></a><a class="course-next" href=""></a></div>
                        </div>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='dt-sc-hr-invisible-small  '></div>
                    <div class='column dt-sc-one-third  space  first'>
                        <p><img class="size-full wp-image-4762" src="~/Content/assets/wp-content/uploads/2014/06/lms-banner1.jpg" alt="ad1" width="420" height="210" /></p>
                    </div>
                    <div class='column dt-sc-one-third  space  '>
                        <p><img class="size-full wp-image-4763" src="~/Content/assets/wp-content/uploads/2014/06/lms-banner2.jpg" alt="ad2" width="420" height="210" /></p>
                    </div>
                    <div class='column dt-sc-one-third  space  '>
                        <p><img class="size-full wp-image-4764" src="~/Content/assets/wp-content/uploads/2014/06/lms-banner3.jpg" alt="ad3" width="420" height="210" /></p>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <h2 class='border-title aligncenter '>Blog<span></span></h2>
                    <div class='column dt-sc-one-third first'>
                        <article class="blog-entry no-border post-486 post type-post status-publish format-image has-post-thumbnail hentry category-post-format-audio category-photoshop tag-creative tag-design tag-news-2 post_format-post-format-image">
                            <div class="blog-entry-inner">
                                <div class="entry-thumb">
                                    <a href="blog/image-minus-id-quod/"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/08/blog15-420x295.jpg" class="attachment-blogcourse-three-column-single-sidebar size-blogcourse-three-column-single-sidebar wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2014/08/blog15-420x295.jpg 420w, ~/Content/assets/wp-content/uploads/2014/08/blog15-300x211.jpg 300w, ~/Content/assets/wp-content/uploads/2014/08/blog15-1024x719.jpg 1024w, ~/Content/assets/wp-content/uploads/2014/08/blog15-100x70.jpg 100w, ~/Content/assets/wp-content/uploads/2014/08/blog15.jpg 1170w, ~/Content/assets/wp-content/uploads/2014/08/blog15-880x618.jpg 880w, ~/Content/assets/wp-content/uploads/2014/08/blog15-590x415.jpg 590w, ~/Content/assets/wp-content/uploads/2014/08/blog15-573x403.jpg 573w, ~/Content/assets/wp-content/uploads/2014/08/blog15-429x302.jpg 429w, ~/Content/assets/wp-content/uploads/2014/08/blog15-431x303.jpg 431w" sizes="(max-width: 420px) 100vw, 420px" /></a>
                                    <div class="entry-thumb-desc">
                                        <p>
                                        <p>There are many variations of passages of Lorem Ipsum...</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- .entry-thumb -->
                                <div class="entry-details">
                                    <div class="featured-post"> <span class="fa fa-trophy"> </span> <span class="text">Featured</span></div>
                                    <div class="entry-meta">
                                        <div class="date">28 Jan </div> <a href='blog/image-minus-id-quod/' class='entry_format'></a>
                                    </div>
                                    <div class='entry-title'>
                                        <h4><a href='blog/image-minus-id-quod/'>Image - Minus id quod</a></h4>
                                    </div>
                                    <div class="entry-metadata">
                                        <p class='author'><i class='fa fa-user'> </i> <a href='blog/author/ram/'>ram</a></p><span> | </span>
                                        <p class="tags"><i class="fa fa-tags"> </i><a href="blog/tag/creative/"> creative</a>,<a href="blog/tag/design/"> design</a>,<a href="blog/tag/news-2/"> news</a></p>
                                        <span> | </span>
                                        <p class='comments'><a href='blog/image-minus-id-quod//#respond' class='comments'><span class='fa fa-comments'> </span> 0</a></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class='column dt-sc-one-third'>
                        <article class="blog-entry no-border post-484 post type-post status-publish format-gallery has-post-thumbnail hentry category-post-format-audio category-news category-photoshop tag-blog-2 tag-chat post_format-post-format-gallery">
                            <div class="blog-entry-inner">
                                <div class="entry-thumb">
                                    <ul class='entry-gallery-post-slider'>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/08/blog16.jpg' /></li>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/05/blog14.jpg' /></li>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/05/blog4.jpg' /></li>
                                        <li><img src='~/Content/assets/wp-content/uploads/2014/05/blog6.jpg' /></li>
                                    </ul>
                                    <div class="entry-thumb-desc">
                                        <p>
                                        <p>There are many variations of passages of Lorem Ipsum...</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- .entry-thumb -->
                                <div class="entry-details">
                                    <div class="entry-meta">
                                        <div class="date">28 Jan </div> <a href='blog/gallery-cumque-nihil-impedit/' class='entry_format'></a>
                                    </div>
                                    <div class='entry-title'>
                                        <h4><a href='blog/gallery-cumque-nihil-impedit/'>Gallery - Cumque nihil impedit</a></h4>
                                    </div>
                                    <div class="entry-metadata">
                                        <p class='author'><i class='fa fa-user'> </i> <a href='blog/author/ram/'>ram</a></p><span> | </span>
                                        <p class="tags"><i class="fa fa-tags"> </i><a href="blog/tag/blog-2/"> blog</a>,<a href="blog/tag/chat/"> chat</a></p> <span> | </span>
                                        <p class='comments'><a href='blog/gallery-cumque-nihil-impedit//#respond' class='comments'><span class='fa fa-comments'> </span> 0</a></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class='column dt-sc-one-third'>
                        <article class="blog-entry no-border post-482 post type-post status-publish format-status has-post-thumbnail hentry category-magazine category-photography category-photoshop tag-blog-2 tag-chat post_format-post-format-status">
                            <div class="blog-entry-inner">
                                <div class="entry-thumb">
                                    <a href="blog/latin-words-ipsum/"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/08/blog17-420x295.jpg" class="attachment-blogcourse-three-column-single-sidebar size-blogcourse-three-column-single-sidebar wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2014/08/blog17-420x295.jpg 420w, ~/Content/assets/wp-content/uploads/2014/08/blog17-300x211.jpg 300w, ~/Content/assets/wp-content/uploads/2014/08/blog17-1024x719.jpg 1024w, ~/Content/assets/wp-content/uploads/2014/08/blog17-100x70.jpg 100w, ~/Content/assets/wp-content/uploads/2014/08/blog17.jpg 1170w, ~/Content/assets/wp-content/uploads/2014/08/blog17-880x618.jpg 880w, ~/Content/assets/wp-content/uploads/2014/08/blog17-590x415.jpg 590w, ~/Content/assets/wp-content/uploads/2014/08/blog17-573x403.jpg 573w, Content/assets/wp-content/uploads/2014/08/blog17-429x302.jpg 429w, ~/Content/assets/wp-content/uploads/2014/08/blog17-431x303.jpg 431w" sizes="(max-width: 420px) 100vw, 420px" /></a>
                                    <div class="entry-thumb-desc">
                                        <p>
                                        <p>There are many variations of passages of Lorem Ipsum...</p>
                                        </p>
                                    </div>
                                </div>
                                <!-- .entry-thumb -->
                                <div class="entry-details">
                                    <div class="entry-meta">
                                        <div class="date">28 Jan </div> <a href='blog/latin-words-ipsum/' class='entry_format'></a>
                                    </div>
                                    <div class='entry-title'>
                                        <h4><a href='blog/latin-words-ipsum/'>Latin words Ipsum</a></h4>
                                    </div>
                                    <div class="entry-metadata">
                                        <p class='author'><i class='fa fa-user'> </i> <a href='blog/author/ram/'>ram</a></p><span> | </span>
                                        <p class="tags"><i class="fa fa-tags"> </i><a href="blog/tag/blog-2/"> blog</a>,<a href="blog/tag/chat/"> chat</a></p> <span> | </span>
                                        <p class='comments'><a href='blog/latin-words-ipsum//#respond' class='comments'><span class='fa fa-comments'> </span> 0</a></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <div class='dt-sc-hr-invisible-medium '></div>
            <div class='fullwidth-section custom-parallax dt-sc-parallax-section' style="background-image:url(Content/assets/wp-content/uploads/2014/09/parallax-light-white.jpg);background-position:left top;background-attachment:fixed; ">
                <div class="container">
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='column dt-sc-one-sixth  space  first'>
                        <div class='dt-sc-ico-content type13'>
                            <div class='custom-icon' style="background-color:#f2672e;"><a href='#' target='_blank'><span class='fa fa-html5'></span></a></div>
                            <h4><a href='#' target='_blank'> HTML </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class='custom-icon' style="background-color:#0171bb;"><a href='#' target='_blank'><span class='fa fa-css3'></span></a></div>
                            <h4><a href='#' target='_blank'> CSS </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class='custom-icon' style="background-color:#9fbf3a;"><a href='#' target='_blank'><span class='fa fa-android'></span></a></div>
                            <h4><a href='#' target='_blank'> Android </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#2b8bc0;"><span><a href="#" target="_blank"><img src="~/Content/assets/wp-content/uploads/2014/05/icon-ps.png" title="Photoshop" alt="Photoshop"></a></span></div>
                            <h4><a href='#' target='_blank'> Photoshop </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#e5a329;"><span><a href="#" target="_blank"><img src="~/Content/assets/wp-content/uploads/2014/05/icon-js.png" title="jQuery" alt="jQuery"></a></span></div>
                            <h4><a href='#' target='_blank'> jQuery </a></h4>
                        </div>
                    </div>
                    <div class='column dt-sc-one-sixth  space  '>
                        <div class='dt-sc-ico-content type13'>
                            <div class="custom-icon" style="background-color:#d10101;"><span><a href="#" target="_blank"><img src="~/Content/assets/wp-content/uploads/2014/05/icon-ruby.jpg" title="Ruby" alt="Ruby"></a></span></div>
                            <h4><a href='#' target='_blank'> Ruby </a></h4>
                        </div>
                    </div>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <div class='dt-sc-hr-invisible  '></div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class='fullwidth-section  '>
                <div class="container">
                    <h2 class='border-title  '>Upcoming Events<span></span></h2>
                    <div class="dt-sc-events-carousel-wrapper">
                        <ul class="dt-sc-events-carousel">
                            <li class="dt-sc-one-half column " id="post-3636">
                                <div class="dt-sc-event-container">
                                    <div class="dt-sc-event-thumb">
                                        <a href="event/welcoming-25th-batch/" title="Welcoming 25th Batch"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/05/course11-420x295.jpg" class="attachment-blogcourse-three-column size-blogcourse-three-column wp-post-image" alt="" title="Welcoming 25th Batch" srcset="~/Content/assets/wp-content/uploads/2014/05/course11-420x295.jpg 420w, ~/Content/assets/wp-content/uploads/2014/05/course11-300x211.jpg 300w, ~/Content/assets/wp-content/uploads/2014/05/course11-1024x719.jpg 1024w, ~/Content/assets/wp-content/uploads/2014/05/course11-100x70.jpg 100w, ~/Content/assets/wp-content/uploads/2014/05/course11.jpg 1170w, ~/Content/assets/wp-content/uploads/2014/05/course11-880x618.jpg 880w, ~/Content/assets/wp-content/uploads/2014/05/course11-590x415.jpg 590w, ~/Content/assets/wp-content/uploads/2014/05/course11-573x403.jpg 573w, ~/Content/assets/wp-content/uploads/2014/05/course11-429x302.jpg 429w, ~/Content/assets/wp-content/uploads/2014/05/course11-431x303.jpg 431w" sizes="(max-width: 420px) 100vw, 420px" /></a>
                                        <span class="event-price">$60</span>
                                    </div>
                                    <div class="dt-sc-event-content">
                                        <h2><a href="event/welcoming-25th-batch/">Welcoming 25th Batch</a></h2>
                                        <div class="dt-sc-event-meta">
                                            <p> <i class="fa fa-calendar-o"> </i>Jul 2015 08 am - Mar 2025 10 pm </p>
                                            <p>
                                                <i class="fa fa-map-marker"> </i><a href="venue/peppard-hill/">Peppard Hill</a>, United States<a href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=AL+United+States"
                                                                                                                                                 title="Peppard Hill" target="_blank"> + Google Map </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dt-sc-one-half column " id="post-3639">
                                <div class="dt-sc-event-container">
                                    <div class="dt-sc-event-thumb">
                                        <a href="event/fast-track-course-opening/" title="Fast Track Course Opening"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/05/course9-420x295.jpg" class="attachment-blogcourse-three-column size-blogcourse-three-column wp-post-image" alt="" title="Fast Track Course Opening" srcset="~/Content/assets/wp-content/uploads/2014/05/course9-420x295.jpg 420w, ~/Content/assets/wp-content/uploads/2014/05/course9-300x211.jpg 300w, ~/Content/assets/wp-content/uploads/2014/05/course9-1024x719.jpg 1024w, ~/Content/assets/wp-content/uploads/2014/05/course9-100x70.jpg 100w, ~/Content/assets/wp-content/uploads/2014/05/course9.jpg 1170w, ~/Content/assets/wp-content/uploads/2014/05/course9-880x618.jpg 880w, ~/Content/assets/wp-content/uploads/2014/05/course9-590x415.jpg 590w, ~/Content/assets/wp-content/uploads/2014/05/course9-573x403.jpg 573w, ~/Content/assets/wp-content/uploads/2014/05/course9-429x302.jpg 429w, ~/Content/assets/wp-content/uploads/2014/05/course9-431x303.jpg 431w" sizes="(max-width: 420px) 100vw, 420px" /></a>
                                        <span class="event-price">$20</span>
                                    </div>
                                    <div class="dt-sc-event-content">
                                        <h2><a href="event/fast-track-course-opening/">Fast Track Course Opening</a></h2>
                                        <div class="dt-sc-event-meta">
                                            <p> <i class="fa fa-calendar-o"> </i>Aug 2015  09 am - Aug 2024  06 pm </p>
                                            <p>
                                                <i class="fa fa-map-marker"> </i><a href="venue/rippon-building/">Rippon Building</a>, United Kingdom<a href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=Ostrey+Lne+London+United+Kingdom"
                                                                                                                                                        title="Rippon Building" target="_blank"> + Google Map </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dt-sc-one-half column " id="post-3633">
                                <div class="dt-sc-event-container">
                                    <div class="dt-sc-event-thumb"><a href="event/free-seminar-at-london/2019-09-13/" title="Free Yoga Class at London"><img width="420" height="295" src="~/Content/assets/wp-content/uploads/2014/05/course5-420x295.jpg" class="attachment-blogcourse-three-column size-blogcourse-three-column wp-post-image" alt="" title="Free Yoga Class at London" srcset="~/Content/assets/wp-content/uploads/2014/05/course5-420x295.jpg 420w, ~/Content/assets/wp-content/uploads/2014/05/course5-300x211.jpg 300w, ~/Content/assets/wp-content/uploads/2014/05/course5-1024x719.jpg 1024w, ~/Content/assets/wp-content/uploads/2014/05/course5-100x70.jpg 100w, ~/Content/assets/wp-content/uploads/2014/05/course5.jpg 1170w, ~/Content/assets/wp-content/uploads/2014/05/course5-880x618.jpg 880w, ~/Content/assets/wp-content/uploads/2014/05/course5-590x415.jpg 590w, ~/Content/assets/wp-content/uploads/2014/05/course5-573x403.jpg 573w, ~/Content/assets/wp-content/uploads/2014/05/course5-429x302.jpg 429w, ~/Content/assets/wp-content/uploads/2014/05/course5-431x303.jpg 431w" sizes="(max-width: 420px) 100vw, 420px" /></a></div>
                                    <div class="dt-sc-event-content">
                                        <h2><a href="event/free-seminar-at-london/2019-09-13/">Free Yoga Class at London</a></h2>
                                        <div class="dt-sc-event-meta">
                                            <p> <i class="fa fa-calendar-o"> </i>Sep 2019  10 am - Oct 2024  06 pm </p>
                                            <p>
                                                <i class="fa fa-map-marker"> </i><a href="venue/pound-lane/">Pound Lane</a>, United States<a href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=Thov+Bridge+Las+Angels+United+States"
                                                                                                                                             title="Pound Lane" target="_blank"> + Google Map </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="carousel-arrows"><a class="events-prev" href=""></a><a class="events-next" href=""></a></div>
                    </div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class='fullwidth-section skin-color dt-sc-parallax-section' style="background-image:url(~/Content/assets/wp-content/uploads/2014/08/newsletter-parallax.png);background-position:left top;background-attachment:fixed; ">
                <div class="container">
                    <div class='dt-sc-hr-invisible-medium  '></div>
                    <section id="newsletter">
                        <h2 class="border-title aligncenter">Get in touch with us</h2>
                        <h6> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which Ipsum slightly believable </h6>
                        <form name="frmNewsletter" method="post" class="dt-sc-subscribe-frm">
                            <input type="email" name="dt_mc_emailid" id="dt_mc_emailid" required="" placeholder="Your Email Address" />
                            <input type="hidden" name="dt_mc_apikey" id="dt_mc_apikey" value="c94a1d38b6683d601a324aeeb4d4ffe3-us1" />
                            <input type="hidden" name="dt_mc_listid" id="dt_mc_listid" value="314bbca712" />
                            <input type="submit" name="submit" class="dt-sc-button small" value="Subscribe" />
                            <p></p>
                        </form>
                        <div id="ajax_newsletter_msg"></div>
                    </section>
                    <div class='dt-sc-hr-invisible-medium  '></div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class='fullwidth-section  '>
                <div class="container">
                    <h2 class='border-title aligncenter '>Our Process<span></span></h2>
                    <div class='dt-sc-hr-invisible  '></div>
                    <div class="dt-sc-timeline-section">
                        <div class="dt-sc-timeline left ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 01 </a> </h2>
                                    <h4>Search for your course</h4>
                                    <p><i class="fa fa-timeline-icon1"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-timeline right ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 02 </a> </h2>
                                    <h4>Take a Sample Lesson</h4>
                                    <p><i class="fa fa-timeline-icon2"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-timeline left ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 03 </a> </h2>
                                    <h4>Preview the Syllabus</h4>
                                    <p><i class="fa fa-timeline-icon3"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-timeline right ">
                            <div class="dt-sc-one-half column first">
                                <div class="dt-sc-timeline-content">
                                    <h2><a href="#"> Step 04 </a> </h2>
                                    <h4>Purchase the Course</h4>
                                    <p><i class="fa fa-timeline-icon4"> </i>Nemo enim ipsam voluptatem quia voluptas sit atur aut odit aut fugit, sed quia consequuntur magni res.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class="container">
                <div class="social-bookmark"></div>
                <div class="social-share"></div>
            </div>
        </div>
        <!-- #post-3633 -->

    </section>
    <!-- ** Primary Section End ** -->
</div>