
@{
    ViewBag.Title = "MemberShip";
}

    <div id="main">

        <!-- Slider Section -->
        <!-- Sub Title Section -->
        <!-- ** Breadcrumb Section ** --><section class="main-title-section-wrapper">
            <div class="container">
                <div class="main-title-section">
                    <h1>Membership</h1><div class="breadcrumb">
                        <a href="https://lmstheme.wpengine.com">Home</a><span class="fa default">  </span><span class="current">Membership</span>
                    </div><!-- ** breadcrumb - End -->
                </div>		<div class="header-search">
                    <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                        <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search">
                        <input type="hidden" name="search-type" value="default">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </section><!-- ** Breadcrumb Section End ** -->        <!-- Sub Title Section -->
        <!-- ** Container ** -->
        <div class="container">

            <!-- ** Primary Section ** -->
            <section id="primary" class="content-full-width">
                <!-- #post-6536 -->
                <div id="post-6536" class="post-6536 page type-page status-publish hentry">
                    <div class="social-bookmark"></div><div class="social-share"></div>
                </div><!-- #post-6536 -->

                <div class="dt-sc-callout-box membership-box type5">
                    <div class="column dt-sc-one-column">
                        <h4><strong>Silver Member</strong> (s2Member Level 2)</h4>
                        <h5>Purchase this level to have access to all courses and classes for <span>1 Month(s) - $120</span></h5>
                    </div>
                    <div class="dt-sc-hr-invisible-small"></div>
                    <div class="column">
                        <a href="https://lmstheme.wpengine.com/membership/?paymenttype=paypal&amp;level=2" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-paypal"></i> Pay Using Paypal</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=stripe&amp;level=2" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-stripe"></i> Pay Using Stripe</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=authnet&amp;level=2" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-visa"></i> Pay Using Authnet</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=clickbank&amp;level=2" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-bank"></i> Pay Using Clickbank</a>&nbsp;&nbsp;
                    </div>
                </div><div class="dt-sc-callout-box membership-box type5">
                    <div class="column dt-sc-one-column">
                        <h4><strong>Gold Member</strong> (s2Member Level 3)</h4>
                        <h5>Purchase this level to have access to all courses and classes for <span>1 Year(s) - $400</span></h5>
                    </div>
                    <div class="dt-sc-hr-invisible-small"></div>
                    <div class="column">
                        <a href="https://lmstheme.wpengine.com/membership/?paymenttype=paypal&amp;level=3" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-paypal"></i> Pay Using Paypal</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=stripe&amp;level=3" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-stripe"></i> Pay Using Stripe</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=authnet&amp;level=3" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-visa"></i> Pay Using Authnet</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=clickbank&amp;level=3" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-bank"></i> Pay Using Clickbank</a>&nbsp;&nbsp;
                    </div>
                </div><div class="dt-sc-callout-box membership-box type5">
                    <div class="column dt-sc-one-column">
                        <h4><strong>Platinum Member</strong> (s2Member Level 4)</h4>
                        <h5>Purchase this level to have access to all courses and classes for <span>Lifetime - $1200</span></h5>
                    </div>
                    <div class="dt-sc-hr-invisible-small"></div>
                    <div class="column">
                        <a href="https://lmstheme.wpengine.com/membership/?paymenttype=paypal&amp;level=4" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-paypal"></i> Pay Using Paypal</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=stripe&amp;level=4" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-stripe"></i> Pay Using Stripe</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=authnet&amp;level=4" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-cc-visa"></i> Pay Using Authnet</a>&nbsp;&nbsp;<a href="https://lmstheme.wpengine.com/membership/?paymenttype=clickbank&amp;level=4" style="margin-left:10px;" class="dt-sc-button small"><i class="fa fa-bank"></i> Pay Using Clickbank</a>&nbsp;&nbsp;
                    </div>
                </div><div class="dt-sc-hr-invisible"></div>
            </section><!-- ** Primary Section End ** -->
        </div><!-- **Container - End** -->
    </div>

