
@{
    ViewBag.Title = "OrderReceived";
}

<div id="main">

    <!-- Slider Section -->
        
    <!-- Sub Title Section -->
    <!-- ** Breadcrumb Section ** --><section class="main-title-section-wrapper">	<div class="container">		<div class="main-title-section">				<h1>Checkout</h1><div class="breadcrumb">				
        <a href="https://lmstheme.wpengine.com">Home</a><span class="fa default">  </span><span class="current">Checkout</span></div><!-- ** breadcrumb - End -->		</div>		<div class="header-search"> 
        <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
            <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search">
            <input type="hidden" name="search-type" value="default">
            <input type="submit" value="">
        </form>		</div>	</div></section><!-- ** Breadcrumb Section End ** -->        <!-- Sub Title Section -->   

    <!-- ** Container ** -->
    <div class="container">
   	
        <!-- ** Primary Section ** -->
        <section id="primary" class="content-full-width"><!-- #post-1062 -->
            <div id="post-1062" class="post-1062 page type-page status-publish hentry">
                <div class="woocommerce">
                    <div class="woocommerce-order">
                        <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">Thank you. Your order has been received.</p>
                        <p class="return-to-shop">
                            <a class="button wc-backward" href="https://lmstheme.wpengine.com/shop/">Return to shop</a>
                        </p>
                    </div>
                </div>
                <div class="social-bookmark"></div><div class="social-share"></div>	
            </div><!-- #post-1062 -->

        </section><!-- ** Primary Section End ** -->    
    </div><!-- **Container - End** -->
</div>

