
@{
    ViewBag.Title = "ProductDetail";
}

<!-- **Main** -->
<div id="main">
    <!-- Slider Section -->
    <!-- Sub Title Section -->
    <!-- ** Breadcrumb Section ** --><section class="main-title-section-wrapper">
        <div class="container">
            <div class="main-title-section">
                <h1>Processing Digital Signal</h1><div class="breadcrumb">
                    <a href="https://lmstheme.wpengine.com">Home</a><span class='fa default'>  </span><span class='current'>Processing Digital Signal</span>
                </div><!-- ** breadcrumb - End -->
            </div>		<div class="header-search">
                <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                    <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search" />
                    <input type="hidden" name="search-type" value="default" />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </section><!-- ** Breadcrumb Section End ** -->        <!-- Sub Title Section -->
    <!-- ** Container ** -->
    <div class="container">
        <section id="primary" class="page-with-sidebar with-right-sidebar">
            <article id="post-4716" class="dt-sc-course-single post-4716 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                <div class="dt-sc-course-details">
                    <div class="dt-sc-course-image">
                        <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course9.jpg" alt="Processing Digital Signal" />
                    </div>
                    <div class="dt-sc-course-details-inner">
                        <h3>Processing Digital Signal</h3>
                        <div class="entry-metadata">
                            <div class="dt-sc-meta-container">
                                <p><i class="fa fa-location-arrow"> </i> <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a></p>
                                <p>
                                    <i class="fa fa-book"> </i>
                                    4 Lessons
                                </p>
                                <p><i class="fa fa-clock-o"> </i> 3 hours 30 mins</p>
                            </div>
                            <div class="dt-sc-status-container">
                                <span class="dt-sc-purchased"><a href="https://lmstheme.wpengine.com/login/" target="_self">Free</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-small"></div>
                <section class="entry">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
                    <div class="dt-sc-hr-invisible-small"></div>
                </section>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible"></div>
                <h4 class="border-title">Course Intro Video<span></span></h4>
                <div class="course-video">
                    <iframe title="Descendants" width="1170" height="658" src="https://www.youtube.com/embed/NhutLj3SVzQ?feature=oembed&wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-medium"></div>
                <div class="dt-lesson-wrapper">
                    <div class="dt-lesson-inner-wrapper">
                        <h4 class="dt-lesson-title">Lessons<span></span></h4><ol class="dt-sc-lessons-list">
                            <li class="">
                                <article class="dt_lessons">
                                    <div class="lesson-title">
                                        <h2> <a href="https://lmstheme.wpengine.com/lessons/lor-separat-existentie/" title="Lor separat existentie">Lor separat existentie</a> </h2><div class="lesson-metadata">
                                            <p> <i class="fa fa-tags"> </i> <a href="https://lmstheme.wpengine.com/lesson-complexity/easy/">Easy</a> </p><p> <i class="fa fa-clock-o"> </i>45 mins</p><p> <i class="fa fa-user"> </i><a href="https://lmstheme.wpengine.com/teachers/damie-glendell/">Damie Glendell</a></p>
                                        </div>
                                    </div>
                                    <div class="dt-sc-clear"></div>
                                    <div class="dt-sc-hr-invisible-small"></div>
                                    <section class="lesson-details">
                                        A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
                                    </section>
                                </article>
                            </li>
                            <li class="">
                                <article class="dt_lessons">
                                    <div class="lesson-title">
                                        <h2> <a href="https://lmstheme.wpengine.com/lessons/itaque-earum-rerum-hic-tenetur/" title="Itaque earum rerum hic tenetur">Itaque earum rerum hic tenetur</a> </h2><div class="lesson-metadata">
                                            <p> <i class="fa fa-tags"> </i> <a href="https://lmstheme.wpengine.com/lesson-complexity/hard/">Hard</a> </p><p> <i class="fa fa-clock-o"> </i>30 mins</p><p> <i class="fa fa-user"> </i><a href="https://lmstheme.wpengine.com/teachers/damie-glendell/">Damie Glendell</a></p>
                                        </div>
                                    </div>

                                    <div class="dt-sc-clear"></div>
                                    <div class="dt-sc-hr-invisible-small"></div>

                                    <section class="lesson-details">
                                    </section>
                                </article>
                            </li>
                            <li class="dt-hidden-lesson">
                                <div class="hidden-lesson-overlay"> </div><article class="dt_lessons">
                                    <div class="lesson-title">
                                        <h2>Por scientie musica</h2><div class="lesson-metadata">
                                            <p> <i class="fa fa-tags"> </i> Hard </p><p> <i class="fa fa-clock-o"> </i>1 hour 0 mins</p><p> <i class="fa fa-user"> </i>Jenny Sheen</p>
                                        </div>
                                    </div>

                                    <div class="dt-sc-clear"></div>
                                    <div class="dt-sc-hr-invisible-small"></div>

                                    <section class="lesson-details">
                                    </section>
                                </article>
                            </li>
                            <li class="dt-hidden-lesson">
                                <div class="hidden-lesson-overlay"> </div><article class="dt_lessons">
                                    <div class="lesson-title">
                                        <h2>Resultant lingue es plu</h2><div class="lesson-metadata">
                                            <p> <i class="fa fa-tags"> </i> Hard </p><p> <i class="fa fa-clock-o"> </i>1 hour 15 mins</p><p> <i class="fa fa-user"> </i>Jim Morrison</p>
                                        </div>
                                    </div>

                                    <div class="dt-sc-clear"></div>
                                    <div class="dt-sc-hr-invisible-small"></div>

                                    <section class="lesson-details">
                                        Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
                                    </section>
                                </article>
                            </li>
                        </ol>
                    </div>
                </div>
            </article>
            <div class="clear"> </div>
            <div class="dt-sc-hr-invisible"> </div>
            <div class="commententries">
                <h3 class="border-title"> No Comments<span> </span></h3>
                <!-- Comment Form -->
                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Post a Reply  <small><a rel="nofollow" id="cancel-comment-reply-link" href="/courses/processing-digital-signal/#respond" style="display:none;">Cancel reply</a></small></h3>			<form action="https://lmstheme.wpengine.com/wp-comments-post.php?wpe-comment-post=lmstheme" method="post" id="commentform" class="comment-form" novalidate>
                        <div class='column dt-sc-one-half first'><p><input id='author' name='author' type='text' placeholder='Your Name' required /></p></div>
                        <div class='column dt-sc-one-half'> <p> <input id='email' name='email' type='text' placeholder='Your Email' required /> </p></div>
                        <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /><label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                        <p class='textarea-field'><textarea id='comment' name='comment' cols='5' rows='3' placeholder='Your Comment'></textarea></p><p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="submit" value="Comment" /> <input type='hidden' name='comment_post_ID' value='4716' id='comment_post_ID' />
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                        </p>
                    </form>
                </div><!-- #respond -->
            </div>
            <div class="clear"> </div>
            <div class="dt-sc-hr-invisible"> </div>
            <h3>Teachers</h3>
            <div class="dt-sc-staff-carousel-wrapper"><ul class="dt-sc-staff-carousel"><li class="column dt-sc-one-fourth">   <div class='dt-sc-team'>		<div class='image'><img width="550" height="550" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2.jpg 550w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher2-95x95.jpg 95w" sizes="(max-width: 550px) 100vw, 550px" /> 		</div>		<div class="team-details">			<h5><a href="https://lmstheme.wpengine.com/wp-admin/admin-ajax.php?ajax=true&amp;action=dttheme_team_member&amp;post_id=4394&amp;nonce=61f1038fcd" data-gal="prettyPhoto[pp_gal]">Damie Glendell</a></h5><h6>Co-Director</h6><div class='dt-sc-social-icons'><ul><li class='google'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/google.png' alt='google' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/google.png' alt='google' /> </a></li><li class='flickr'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/flickr.png' alt='flickr' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/flickr.png' alt='flickr' /> </a></li><li class='rss'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/rss.png' alt='rss' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/rss.png' alt='rss' /> </a></li></ul></div>		</div>   </div></li><li class="column dt-sc-one-fourth">   <div class='dt-sc-team'>		<div class='image'><img width="550" height="550" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4.jpg 550w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher4-95x95.jpg 95w" sizes="(max-width: 550px) 100vw, 550px" /> 		</div>		<div class="team-details">			<h5><a href="https://lmstheme.wpengine.com/wp-admin/admin-ajax.php?ajax=true&amp;action=dttheme_team_member&amp;post_id=4396&amp;nonce=61f1038fcd" data-gal="prettyPhoto[pp_gal]">Jenny Sheen</a></h5><h6>Marketing Director</h6><div class='dt-sc-social-icons'><ul><li class='picasa'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/picasa.png' alt='picasa' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/picasa.png' alt='picasa' /> </a></li><li class='facebook'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png' alt='facebook' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png' alt='facebook' /> </a></li><li class='gtalk'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/gtalk.png' alt='gtalk' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/gtalk.png' alt='gtalk' /> </a></li></ul></div>		</div>   </div></li><li class="column dt-sc-one-fourth">   <div class='dt-sc-team'>		<div class='image'><img width="550" height="550" src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher1.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher1.jpg 550w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher1-150x150.jpg 150w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher1-300x300.jpg 300w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher1-100x100.jpg 100w, https://lmstheme.wpengine.com/wp-content/uploads/2014/05/teacher1-95x95.jpg 95w" sizes="(max-width: 550px) 100vw, 550px" /> 		</div>		<div class="team-details">			<h5><a href="https://lmstheme.wpengine.com/wp-admin/admin-ajax.php?ajax=true&amp;action=dttheme_team_member&amp;post_id=4389&amp;nonce=61f1038fcd" data-gal="prettyPhoto[pp_gal]">Jim Morrison</a></h5><h6>Chief Programmer</h6><div class='dt-sc-social-icons'><ul><li class='skype'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/skype.png' alt='skype' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/skype.png' alt='skype' /> </a></li><li class='pinterest'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/pinterest.png' alt='pinterest' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/pinterest.png' alt='pinterest' /> </a></li><li class='google'><a href='#' target='_blank'> <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/google.png' alt='google' />  <img src='https://lmstheme.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/google.png' alt='google' /> </a></li></ul></div>		</div>   </div></li></ul><div class="carousel-arrows"><a class="staff-prev" href=""></a><a class="staff-next" href=""></a></div></div>
            <div class="clear"> </div>
            <div class="dt-sc-hr-invisible"> </div>
            <div class="dt-sc-related-courses">
                <h3>Related Courses</h3>
                <div class="column dt-sc-one-third first">
                    <article id="post-4708" class="dt-sc-custom-course-type post-4708 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">

                        <div class="dt-sc-course-thumb">
                            <a href="https://lmstheme.wpengine.com/courses/advanced-programming/">
                                <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course11.jpg" alt="Advanced Programming" />
                            </a>
                            <div class="dt-sc-course-overlay">
                                <a title="Advanced Programming" href="https://lmstheme.wpengine.com/courses/advanced-programming/" class="dt-sc-button small white"> View Course </a>
                            </div>
                        </div>

                        <div class="dt-sc-course-details">

                            <span class="dt-sc-course-price"><span class="amount">$40</span></span>
                            <h5><a href="https://lmstheme.wpengine.com/courses/advanced-programming/" title="Advanced Programming">Advanced Programming</a></h5>

                            <div class="dt-sc-course-meta">
                                <p>  <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a>  </p>
                                <p> 5&nbsp;Lessons </p>
                            </div>

                            <div class="dt-sc-course-data">
                                <div class="dt-sc-course-duration">
                                    <i class="fa fa-clock-o"> </i>
                                    <span> 03 : 15 </span>
                                </div>
                                <span id="post-ratings-4708" class="post-ratings" data-nonce="511ddaf6c2"><img id="rating_4708_1" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(4708, 1, '1 Star');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_2" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(4708, 2, '2 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_3" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(4708, 3, '3 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_4" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(4708, 4, '4 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4708_5" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_half.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(4708, 5, '5 Stars');" onmouseout="ratings_off(4.3, 5, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>222</strong> votes, average: <strong>4.26</strong> out of 5)<br /><span class="post-ratings-text" id="ratings_4708_text"></span></span><span id="post-ratings-4708-loading" class="post-ratings-loading">
                                    <img src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                </span>
                            </div>

                        </div>

                    </article>
                </div>
                <div class="column dt-sc-one-third ">
                    <article id="post-5993" class="dt-sc-custom-course-type post-5993 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">

                        <div class="dt-sc-course-thumb">
                            <a href="https://lmstheme.wpengine.com/courses/power-electronics/">
                                <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/08/course13.jpg" alt="Power Electronics" />
                            </a>
                            <div class="dt-sc-course-overlay">
                                <a title="Power Electronics" href="https://lmstheme.wpengine.com/courses/power-electronics/" class="dt-sc-button small white"> View Course </a>
                            </div>
                        </div>

                        <div class="dt-sc-course-details">

                            <span class="dt-sc-course-price"><span class="amount">$50</span></span>
                            <h5><a href="https://lmstheme.wpengine.com/courses/power-electronics/" title="Power Electronics">Power Electronics</a></h5>

                            <div class="dt-sc-course-meta">
                                <p>  <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a>  </p>
                                <p> 6&nbsp;Lessons </p>
                            </div>

                            <div class="dt-sc-course-data">
                                <div class="dt-sc-course-duration">
                                    <i class="fa fa-clock-o"> </i>
                                    <span> 05 : 35 </span>
                                </div>
                                <span id="post-ratings-5993" class="post-ratings" data-nonce="3a5596193b"><img id="rating_5993_1" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(5993, 1, '1 Star');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_2" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(5993, 2, '2 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_3" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(5993, 3, '3 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_4" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(5993, 4, '4 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_5993_5" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(5993, 5, '5 Stars');" onmouseout="ratings_off(4.2, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>356</strong> votes, average: <strong>4.21</strong> out of 5)<br /><span class="post-ratings-text" id="ratings_5993_text"></span></span><span id="post-ratings-5993-loading" class="post-ratings-loading">
                                    <img src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </section>
        <!-- Secondary Right -->
        <section id="secondary-right" class="secondary-sidebar secondary-has-right-sidebar">
            <div class="dt-sc-average-rating">
                <h2>4.12</h2>
                <span id="post-ratings-4716" class="post-ratings" itemscope itemtype="http://schema.org/Article" data-nonce="804f270fd4"><img id="rating_4716_1" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="1 Star" title="1 Star" onmouseover="current_rating(4716, 1, '1 Star');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_2" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="2 Stars" title="2 Stars" onmouseover="current_rating(4716, 2, '2 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_3" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="3 Stars" title="3 Stars" onmouseover="current_rating(4716, 3, '3 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_4" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_on.gif" alt="4 Stars" title="4 Stars" onmouseover="current_rating(4716, 4, '4 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_4716_5" src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/stars/rating_off.gif" alt="5 Stars" title="5 Stars" onmouseover="current_rating(4716, 5, '5 Stars');" onmouseout="ratings_off(4.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> (<strong>84</strong> votes, average: <strong>4.12</strong> out of 5)<br /><span class="post-ratings-text" id="ratings_4716_text"></span><meta itemprop="headline" content="Processing Digital Signal" /><meta itemprop="description" content="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo." /><meta itemprop="datePublished" content="2014-06-24T12:19:17+00:00" /><meta itemprop="dateModified" content="2014-08-11T04:37:41+00:00" /><meta itemprop="url" content="https://lmstheme.wpengine.com/courses/processing-digital-signal/" /><meta itemprop="author" content="ram" /><meta itemprop="mainEntityOfPage" content="https://lmstheme.wpengine.com/courses/processing-digital-signal/" /><div style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course9-150x150.jpg" /><meta itemprop="width" content="150" /><meta itemprop="height" content="150" /></div><div style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="LMS" /><div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="" /></div></div><div style="display: none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"><meta itemprop="bestRating" content="5" /><meta itemprop="worstRating" content="1" /><meta itemprop="ratingValue" content="4.12" /><meta itemprop="ratingCount" content="84" /></div></span><span id="post-ratings-4716-loading" class="post-ratings-loading">
                    <img src="https://lmstheme.wpengine.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...
                </span>
                <span>84 ratings</span>
            </div><ul class="dt-sc-ratings-breakup">
                <li>
                    <span class="dt-sc-ratings-label">1 Star</span>
                    <div class="dt-sc-ratings-percentage">
                        <span style="width:9%"></span>
                    </div>
                    <span>8</span>
                </li>
                <li>
                    <span class="dt-sc-ratings-label">2 Stars</span>
                    <div class="dt-sc-ratings-percentage">
                        <span style="width:3%"></span>
                    </div>
                    <span>3</span>
                </li>
                <li>
                    <span class="dt-sc-ratings-label">3 Stars</span>
                    <div class="dt-sc-ratings-percentage">
                        <span style="width:11%"></span>
                    </div>
                    <span>10</span>
                </li>
                <li>
                    <span class="dt-sc-ratings-label">4 Stars</span>
                    <div class="dt-sc-ratings-percentage">
                        <span style="width:15%"></span>
                    </div>
                    <span>13</span>
                </li>
                <li>
                    <span class="dt-sc-ratings-label">5 Stars</span>
                    <div class="dt-sc-ratings-percentage">
                        <span style="width:59%"></span>
                    </div>
                    <span>50</span>
                </li>
            </ul><aside class="widget dt_widget_students_enrolled" id="dt-widget-students-enrolled">
                <h3 class="widgettitle">Students Enrolled ( 1 )<span></span></h3>
                <div class="students-enrolled-widget">
                    <ul class="dt-students-enrolled-list">
                        <li>
                            <img alt='' src='//www.gravatar.com/avatar/a16d6dfe666f2351a53f44cde3825a11?s=32&#038;r=g&#038;d=mm' srcset='//www.gravatar.com/avatar/a16d6dfe666f2351a53f44cde3825a11?s=32&#038;r=g&#038;d=mm 2x' class='avatar avatar-32 photo' height='32' width='32' /><h5>John Smith</h5>
                        </li>
                    </ul>
                </div>
            </aside>			
            <aside id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
                <h3 class="widgettitle">Search Products<span></span></h3><form role="search" method="get" class="woocommerce-product-search" action="https://lmstheme.wpengine.com/">
                    <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                    <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products&hellip;" value="" name="s" />
                    <button type="submit" value="Search">Search</button>
                    <input type="hidden" name="post_type" value="product" />
                </form>
            </aside>
            <aside id="woocommerce_widget_cart-2" class="widget woocommerce widget_shopping_cart">
                <h3 class="widgettitle">Cart<span></span></h3>
                <div class="hide_cart_widget_if_empty">
                    <div class="widget_shopping_cart_content"></div></div>
            </aside>
            <aside id="woocommerce_top_rated_products-2" class="widget woocommerce widget_top_rated_products">
                <h3 class="widgettitle">Top Rated Products<span></span></h3><ul class="product_list_widget">
                    <li>
                        <a href="https://lmstheme.wpengine.com/product/security-systems/">
                            <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/light-book-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />		<span class="product-title">Security Systems</span>
                        </a>

                        <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
                    </li>
                    <li>

                        <a href="https://lmstheme.wpengine.com/product/information-architecture/">
                            <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/dark-book-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />		<span class="product-title">Information Architecture</span>
                        </a>

                        <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>9.00</span>
                    </li>
                    <li>

                        <a href="https://lmstheme.wpengine.com/product/application-maintenance/">
                            <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/badge.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/badge.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/badge-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />		<span class="product-title">Application Maintenance</span>
                        </a>

                        <div class="star-rating"><span style="width:93.4%">Rated <strong class="rating">4.67</strong> out of 5</span></div>
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>35.00</span>
                    </li>
                    <li>

                        <a href="https://lmstheme.wpengine.com/product/economic-analysis/">
                            <img width="150" height="150" src="//lmstheme.wpengine.com/wp-content/uploads/2013/06/book2.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="//lmstheme.wpengine.com/wp-content/uploads/2013/06/book2.jpg 1000w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-150x150.jpg 150w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-300x300.jpg 300w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-100x100.jpg 100w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-95x95.jpg 95w, //lmstheme.wpengine.com/wp-content/uploads/2013/06/book2-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />		<span class="product-title">Economic Analysis</span>
                        </a>

                        <div class="star-rating"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
                    </li>
                </ul>
            </aside>
            <aside id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
                <h3 class="widgettitle">Product Categories<span></span></h3><ul class="product-categories">
                    <li class="cat-item cat-item-50 cat-parent">
                        <a href="https://lmstheme.wpengine.com/product-category/clothing/">Clothing</a><ul class='children'>
                            <li class="cat-item cat-item-51"><a href="https://lmstheme.wpengine.com/product-category/clothing/hoodies/">Hoodies</a></li>
                            <li class="cat-item cat-item-55"><a href="https://lmstheme.wpengine.com/product-category/clothing/t-shirts/">T-shirts</a></li>
                        </ul>
                    </li>
                    <li class="cat-item cat-item-52 cat-parent">
                        <a href="https://lmstheme.wpengine.com/product-category/music/">Music</a><ul class='children'>
                            <li class="cat-item cat-item-56"><a href="https://lmstheme.wpengine.com/product-category/music/albums/">Albums</a></li>
                            <li class="cat-item cat-item-54"><a href="https://lmstheme.wpengine.com/product-category/music/singles/">Singles</a></li>
                        </ul>
                    </li>
                    <li class="cat-item cat-item-53"><a href="https://lmstheme.wpengine.com/product-category/posters/">Posters</a></li>
                    <li class="cat-item cat-item-106"><a href="https://lmstheme.wpengine.com/product-category/uncategorized/">Uncategorized</a></li>
                </ul>
            </aside>
            <aside id="text-6" class="widget widget_text">
                <h3 class="widgettitle">About us<span></span></h3>			<div class="textwidget">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et lobortis diam. <br> <br> Duis tellus enim, vestibulum eget varius id, vulputate et mi. Nullam feugiat, diam quis interdum varius </p>
                    <a href="http://lmstheme.wpengine.com/dtcourses/" title="" class="dt-sc-button small"> Start Learning Now </a>
                </div>
            </aside>
        </section>
    </div><!-- **Container - End** -->
</div><!-- **Main - End** -->
