
@{
    ViewBag.Title = "Shop";
}

<!-- **Main** -->
<div id="main">

    <!-- Slider Section -->
    <!-- Sub Title Section -->
    <!-- ** Breadcrumb Section ** -->
    <section class="main-title-section-wrapper">
        <div class="container">
            <div class="main-title-section">
                <h1>Courses</h1>
                <div class="breadcrumb">
                    <a href="https://lmstheme.wpengine.com">Home</a><span class='fa default'>  </span><span class='current'>Courses</span>
                </div>
                <!-- ** breadcrumb - End -->
            </div>
            <div class="header-search">
                <form method="get" id="searchform" class="searchform" action="https://lmstheme.wpengine.com/">
                    <input id="s" name="s" type="text" value="" class="text_input" placeholder="Search" />
                    <input type="hidden" name="search-type" value="default" />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </section>
    <!-- ** Breadcrumb Section End ** -->
    <!-- Sub Title Section -->
    <!-- ** Container ** -->
    <div class="container">

        <!-- ** Primary Section ** -->
        <section id="primary" class="content-full-width">


            <div class="courses-sorting">

                <div class="courses-popular-type">
                    <label> Filter by : </label>
                    <select name="courses-type" id="courses-type" data-postid="4714">
                        <option value="all">All</option>
                        <option value="featured">Featured Courses</option>
                        <option value="popular">Popular Courses</option>
                    </select>
                </div>

                <div class="courses-categorywise">
                    <label> Choose Category : </label>
                    <select name="courses-category" id="courses-category" data-postid="4714">
                        <option value="all">All</option>
                        <option value="68">Education</option>
                        <option value="71">Engineering</option>
                        <option value="70">Health</option>
                        <option value="72">Law</option>
                        <option value="64">Mathematics</option>
                    </select>
                </div>

                <div class="courses-classwise">
                    <label> Choose Class : </label>
                    <select name="filter-classes" id="filter-classes" data-postid="4714">
                        <option value="all">All</option>
                    </select>
                </div>

                <div class="courses-price-type">
                    <a class="course-price course-all-price active" data-postid="4714" data-price_type="all"> <span> </span>All</a>
                    <a class="course-price course-paid-price" data-postid="4714" data-price_type="paid"> <span> </span>Paid</a>
                    <a class="course-price course-free-price" data-postid="4714" data-price_type="free"> <span> </span>Free</a>
                </div>

            </div>

            <div class="courses-view-type">
                <a class="course-layout course-grid-type active" data-postid="4714" data-view_type="grid"> <span> </span>Grid</a>
                <a class="course-layout course-list-type" data-postid="4714" data-view_type="list"> <span> </span>List</a>
            </div>

            <div id="dt-sc-ajax-load-image" style="display:none;"><img src="https://lmstheme.wpengine.com/wp-content/themes/lms/images/loading.gif" alt="" /></div>
            <div class="ajax_tpl_course_content">
                <div class="dt-sc-results-found">Records Found : <span>12</span></div>


                <div class="column dt-sc-one-third  first">
                    <article id="post-4708" class="dt-sc-custom-course-type  post-4708 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                        <div class="dt-sc-course-thumb">
                            <a href="https://lmstheme.wpengine.com/courses/advanced-programming/">
                                <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course11-420x295.jpg" width="420" height="295">
                            </a>
                            <div class="dt-sc-course-overlay">
                                <a title="Advanced Programming" href="https://lmstheme.wpengine.com/courses/advanced-programming/" class="dt-sc-button small white"> View Course </a>
                            </div>
                        </div>
                        <div class="dt-sc-course-details">
                            <span class="dt-sc-course-price"><span class="amount">$40</span></span>
                            <h5><a href="https://lmstheme.wpengine.com/courses/advanced-programming/" title="Advanced Programming">Advanced Programming</a></h5>
                            <div class="dt-sc-certificate-badge"><span class="certificate"></span><span class="badge"></span></div>
                            <div class="dt-sc-course-meta">
                                <p>  <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a>  </p>
                                <p> 5&nbsp;Lessons </p>
                            </div>
                            <div class="dt-sc-course-data">
                                <div class="dt-sc-course-duration">
                                    <i class="fa fa-clock-o"> </i>
                                    <span> 03 : 15 </span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column dt-sc-one-third ">
                    <article id="post-4708" class="dt-sc-custom-course-type  post-4708 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                        <div class="dt-sc-course-thumb">
                            <a href="https://lmstheme.wpengine.com/courses/advanced-programming/">
                                <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course11-420x295.jpg" width="420" height="295">
                            </a>
                            <div class="dt-sc-course-overlay">
                                <a title="Advanced Programming" href="https://lmstheme.wpengine.com/courses/advanced-programming/" class="dt-sc-button small white"> View Course </a>
                            </div>
                        </div>
                        <div class="dt-sc-course-details">
                            <span class="dt-sc-course-price"><span class="amount">$40</span></span>
                            <h5><a href="https://lmstheme.wpengine.com/courses/advanced-programming/" title="Advanced Programming">Advanced Programming</a></h5>
                            <div class="dt-sc-certificate-badge"><span class="certificate"></span><span class="badge"></span></div>
                            <div class="dt-sc-course-meta">
                                <p>  <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a>  </p>
                                <p> 5&nbsp;Lessons </p>
                            </div>
                            <div class="dt-sc-course-data">
                                <div class="dt-sc-course-duration">
                                    <i class="fa fa-clock-o"> </i>
                                    <span> 03 : 15 </span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column dt-sc-one-third ">
                    <article id="post-4708" class="dt-sc-custom-course-type  post-4708 dt_courses type-dt_courses status-publish has-post-thumbnail hentry course_category-education">
                        <div class="dt-sc-course-thumb">
                            <a href="https://lmstheme.wpengine.com/courses/advanced-programming/">
                                <img src="https://lmstheme.wpengine.com/wp-content/uploads/2014/05/course11-420x295.jpg" width="420" height="295">
                            </a>
                            <div class="dt-sc-course-overlay">
                                <a title="Advanced Programming" href="https://lmstheme.wpengine.com/courses/advanced-programming/" class="dt-sc-button small white"> View Course </a>
                            </div>
                        </div>
                        <div class="dt-sc-course-details">
                            <span class="dt-sc-course-price"><span class="amount">$40</span></span>
                            <h5><a href="https://lmstheme.wpengine.com/courses/advanced-programming/" title="Advanced Programming">Advanced Programming</a></h5>
                            <div class="dt-sc-certificate-badge"><span class="certificate"></span><span class="badge"></span></div>
                            <div class="dt-sc-course-meta">
                                <p>  <a href="https://lmstheme.wpengine.com/coursecategory/education/" rel="tag">Education</a>  </p>
                                <p> 5&nbsp;Lessons </p>
                            </div>
                            <div class="dt-sc-course-data">
                                <div class="dt-sc-course-duration">
                                    <i class="fa fa-clock-o"> </i>
                                    <span> 03 : 15 </span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="pagination" data-postid="6907">
                    <ul>
                        <li class="active-page">1</li>
                        <li><a href="#">2</a></li>
                    </ul>
                    <div class="next-post">
                        <a href="#" cpage="1" class="dt-next">
                            Next <span class="fa fa-angle-double-right"></span>
                        </a>
                    </div>
                </div>

            </div>



        </section>
        <!-- ** Primary Section End ** -->
    </div>
    <!-- **Container - End** -->
</div>
<!-- **Main - End** -->